@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import "./style2.css";
:root {
  --primary: #ff4c1a;
  --secondary: #131922;
  --white: #ffffff;
  --gery-1: #5f6165;
  --gery-2: #888888;
  --gery-3: #a2a6ad;
  --yellow: #ffa818;
}
/* Global   */
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
html {
  background: red;
  overflow-x: hidden;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
/* p {
} */

label {
  font-family: "Roboto", sans-serif;
  font-family: "Sen", sans-serif;
  font-size: 14px;
}
.container {
  padding: 0px;
  max-width: 1320px;
}

section {
  padding: 100px 0px;
}
.section__heading {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: capitalize;
  color: #131922;
}
.section__sub_heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ff4c1a;
  position: relative;
  display: inline;
}
.section__sub_heading::after {
  content: "";
  width: 30px;
  height: 2px;
  background: var(--primary);
  position: absolute;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
}
.section__sub_heading_line {
  width: 30px;
  height: 2px;
  background: #ff4c1a;
}
.section__sub_heading--active {
  display: flex;
}
/* .container {
  padding: 0px;
  max-width: 1320px;
} */
.active {
  color: #ff4c1a;
}
ul {
  list-style: none;
}
ul li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.text-bold-color {
  color: var(--secondary);
}
.btn-primary:hover {
  background: var(--primary);
}
/* general form control */
.form-control {
  padding: 18px 25px;
  height: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: initial;
  color: #5f6165;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #888;
}
*:focus {
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #888;
}

/* icon */
.icon {
  width: 50px;
  height: 50px;
}
hr {
  margin: 0;
  padding: 0;
}
section .section__sub_heading_line {
  margin: 10px;
}
/* Buttons */
.btn_primary {
  background: #ff4c1a;
  border-radius: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 20px;
  border: none;
}
.btn_secondary {
  background: var(--white);
  border-radius: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #5f6165;
  padding: 13px 20px;
  border: 1px solid #888888;
}
.btn-primary:hover svg {
  fill: var(--white);
}
.btn-primary:hover {
  border: none;
}
/* Badges  */
.badge-primary {
  background: var(--primary);
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin: 0 10px 0 0;
}
*:focus {
  outline: none;
}
textarea:focus,
input:focus .btn-primary:focus .btn_primary:focus,
button {
  outline: none !important;
}
.section__sub_heading--circle-bg {
  color: #131922;
  background-image: url("../image/home1/BG_circle.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 0px;
  font-weight: 600;
}
.hidden {
  display: none;
}
/* image object fit */
.object__fit__w__100 {
  object-fit: cover;
  width: 100%;
}
.object__fit__w__100_h__100 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* display flex general */
.display__flex {
  display: flex;
}
.display__flex__column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.display__flex__center__vertical_horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display__flex__column__nogap {
  display: flex;
  flex-direction: column;
}
.display__flex__space__between {
  display: flex;
  justify-content: space-between;
}
.display__flex__align__item__Center {
  display: flex;
  align-items: center;
}
.display__grid__items__center {
  display: grid;
  place-items: center;
}
.display__flex__section__sub__heading__icon {
  display: flex;
  gap: 0px;
  align-items: center;
  flex-direction: column;
}
/* general global Responsive */
@media (max-width: 1400px) {
  .container {
    padding: 0 10px;
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0px 30px;
    /* max-width: 1320px; */
  }
}
@media (max-width: 424px) {
  section {
    padding: 50px 0;
  }
  .section__heading {
    font-size: 40px;
  }
  .process__container {
    margin: 25px 0;
  }
}

/* ======home1 start ========== */
/* Header */

#home-1 .header {
  padding: 0px;
  margin-bottom: -123px;
  z-index: 100;
  position: relative;
  margin-top: 30px;
}

.nav__container {
  background: #ffffff;
  padding: 16px 35px;
  margin-top: 30px;
}

.nav {
  padding: 10px 0px !important;
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
}
.navbar__Link {
  padding-right: 4px;
}
.navbar__Link a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.navbar__Items--fontStyles {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #131922;
  position: relative;
}
.navbar__Items--fontStyles::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 31px;
  background-color: var(--primary);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.navbar__Link.active .navbar__Items--fontStyles::before {
  opacity: 1;
  visibility: visible;
}
.navbar__Link:hover .navbar__Items--fontStyles::before {
  opacity: 1;
  visibility: visible;
}
.navbar__Link:hover a {
  color: var(--primary);
}
.navbar__Items--active {
  color: #ff4c1a;
}
.navbar__Items {
  display: flex;
  gap: 35px;
}

.navbar__Items--right {
  margin-left: auto;
}
.navbar__Link-toggle {
  display: none;
}
/* header icon */
.fa-search:before {
  content: "\f002";
  font-size: 24px;
  padding: 30px 25px 0px 0px;
}
.fa-bars:before {
  content: "\f0c9";
  color: black;
  padding: 5px;
  border-radius: 3px;
}
.search__icon {
  width: 24px;
  height: 24px;
  margin: 0px 20px 0px 0px;
}
.nav__arrow__icon {
  width: 17px;
  height: 14px;
  fill: white;
  margin: 0 2px 0 0;
}
.nav__item__line {
  height: 30px;
  width: 2px;
  background: var(--primary);
  display: block;
}
.hero__container {
  padding-top: 20px;
}

/* header home 2 CSS ==============*/
/* .dropdown-menu {
  transition: all 0.5s ease-in-out !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 26px;
}
.dropdown:hover .dropdown-menu a {
  color: var(--secondary);
} */
#home-1 .nav-custom {
  border-radius: 0px;
}
.nav-custom {
  background: var(--white);
  color: var(--secondary);
  border-radius: 34px;
  padding: 10px 20px;
  position: relative;
  align-items: center;
}
.navbar-dark .navbar-nav .nav-link {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #131922;
  padding-right: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-dark .navbar-nav .show > .nav-link {
  color: var(--secondary);
}
.dropdown-toggle::after {
  display: none;
}
.navbar-brand {
  margin-right: 5rem;
}
.dropdown-menu {
  transition: all 0.5s ease-in-out !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.header .search__icon {
  margin: 0px 7px 0px 0px;
  cursor: pointer;
}
.fa-search:before {
  content: "\f002";
  font-size: 24px;
  padding: 30px 25px 0px 0px;
}
.fa-bars:before {
  content: "\f0c9";
  color: black;
  padding: 5px;
  border-radius: 3px;
}
.search__icon {
  width: 24px;
  height: 24px;
  margin: 0px 20px 0px 0px;
}

/* home 2 header responsive */
@media (max-width: 1300px) {
  .navbar-brand {
    margin-right: 1rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding-right: 0.5rem;
  }
  .header nav .nav__search__container .btn_primary {
    white-space: nowrap;
  }
  .nav__number {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    background: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 10px 0;
  }

  .nav__search__container {
    display: none;
  }
  .navbar-dark .navbar-toggler-icon {
    margin-top: 10px;
  }
}
@media screen and (max-width: 424px) {
  .header__container .container {
    padding: 0 0;
  }
  .navbar-dark .navbar-brand {
    width: 140px;
    height: 55px;
  }

  .header__topbar,
  .nav__search__container {
    display: none;
    visibility: hidden;
  }
  .navbar-brand {
    margin-right: 1.5rem;
  }
}
/* HERO SECTION */
#hero {
  /* padding: 0px; */
  padding-top: 200px;
}
#home-1 .hero {
  background-color: #cccccc;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, rgba(1, 5, 21, 0.5), rgba(1, 5, 21, 0.5)),
    url("../image/home1/Bitmap.jpg");
  background-size: cover;
  height: 100vh;
}
#home-1 .hero .hero__section__title {
  z-index: 10;
}
#home-1 .hero .hero__bg__container {
  background-image: url(../image/home1/hero-section-title.png);
  height: 505px;
  width: 943px;
  background-color: #cccccc05;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -420px;
}
#home-1 .hero__content {
  color: white;
  position: initial;
  flex-direction: column;
  margin-top: 75px;
}

#home-1 .hero__title {
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
#home-1 .hero__button {
  margin-top: 40px;
}
#home-1 .hero__navigation {
  background: #494c54;
  display: flex;
  color: #d9d9d9;
  width: 50px;
  height: 158px;
  border-radius: 25px;
  text-align: center;
  padding: 25px 12px;
  flex-direction: column;
  margin-right: 50px;
  margin-top: -100px;
  margin-left: -50px;
}
#home-1 .hero__nav_line {
  width: 25px;
  height: 1px;
  left: 1783px;
  top: 468px;
  background: #d9d9d9;
  opacity: 0.3;
}
#home-1 .hero .hero__navigation hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#home-1 .hero__navigation--active {
  color: #ff4c1a;
}
#home-1 .hero__tile__navigation__container {
  position: relative;
}
/* hero responsive */
@media only screen and (max-width: 992px) {
  .hero__bg__container {
    display: none;
  }
  .hero__title {
    font-size: 95px;
    line-height: 94px;
  }
  #home-1 .hero__navigation {
    display: none;
    visibility: hidden;
  }
  .nav__container {
    padding: 16px 16px;
  }
  #home-1 .hero__title {
    font-size: 60px;
    line-height: 70px;
  }
}
@media (max-width: 424px) {
  #home-1 .hero__content {
    height: 80vh;
  }
  #home-1 .nav__search__container {
    display: none;
    visibility: hidden;
  }
  #home-1 .nav__container {
    background: #ffffff;
    padding: 18px 16px 18px 16px;
    position: relative;
  }
}
/* navbar / header responsive */
@media only screen and (max-width: 992px) {
  #home-1 .nav__search__container {
    display: none;
  }
  #home-1 .navbar__Link.active .navbar__Items--fontStyles::before {
    visibility: hidden;
  }
  #home-1 .navbar__Items {
    gap: 20px;
  }
  #home-1 .nav__Logo img {
    height: 30px;
    width: 90px;
  }
  #home-1 .navbar__Items,
  #home-1 .nav {
    flex-direction: column;
    position: absolute;
    padding: 10px 15px;
    top: 100%;
    width: 100%;
    z-index: 20;
    right: 0px;
  }
  #home-1 .navbar__Items {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: all 0.3s ease-in;
  }
  #home-1 .navbar__Items--right {
    margin-left: 0;
  }
  #home-1 .navbar__ToggleShow {
    display: flex;
    align-items: flex-start;
    background: white;
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }

  #home-1 .navbar__Link-toggle {
    display: flex;
    position: absolute;
    cursor: pointer;
    padding-top: 5px;
    top: -30px;
    right: 15px;
  }
  /* .btn_secondary {
    padding: 6px 28px;
  } */
}
/*FEATURE SECTION */
.feature {
  background: #f5f6f0;
  position: relative;
}

.feature__content {
  padding: 50px 0px;
  width: 85%;
}
.feature .feature__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.feature__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #131922;
  margin: 35px 0px 0px 0px;
}
.feature__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
  margin: 30px 0px 30px 0px;
}
.feature__link {
  margin: 30px 0px 0px 0px;
  text-decoration: none !important;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #5f6165;
}
.feature__arrow__icon {
  width: 17px;
  height: 14px;
  margin: 0px 5px 0 0;
}
.feature__link:hover .feature__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
.feature__link:hover {
  color: var(--primary);
}
.feature__link--active {
  color: var(--primary);
  fill: var(--primary);
}
.feature .feature__Bg__vector__1 {
  position: absolute;
  top: 100px;
  z-index: 2;
  left: 70px;
}

.feature .feature__Bg__vector__2 {
  position: absolute;
  top: 100px;
  z-index: 2;
  right: 125px;
}
.feature .feature__Bg__vector__3 {
  position: absolute;
  bottom: 100px;
  z-index: 2;
  left: 70px;
}

.feature .feature__Bg__vector__4 {
  position: absolute;
  bottom: 100px;
  z-index: 2;
  right: 125px;
}
.feature__image__container {
  position: relative;
}
.feature__circle__icon {
  height: 250px;
  width: 208px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  fill: var(--primary);
}
.feature__content:hover .feature__circle__icon {
  opacity: 1;
}

.feature__content:hover .feature__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
.feature__content:hover .feature__more {
  color: var(--primary);
}
#home-1 .feature .section__sub_heading::after {
  content: none;
}

/* feature responsive */
@media (max-width: 768px) {
  .feature .feature__Bg__vector__4 {
    bottom: 39px;
  }
  .feature .feature__Bg__vector__3 {
    bottom: 47px;
  }
  .feature .feature__Bg__vector__2 {
    right: 57px;
  }
}
@media (max-width: 375px) {
  .feature .feature__Bg__vector__1 {
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
  }
  .feature .feature__Bg__vector__2 {
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
  }
  .feature .feature__Bg__vector__3 {
    bottom: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
  }
  .feature .feature__Bg__vector__4 {
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
  }
}

/* FEATURE COMMON */
#service-details .feature .section__sub_heading::after {
  content: none;
}
#service-details .feature {
  background: #fff;
  position: relative;
  margin-right: unset;
  max-width: unset;
}

#service-details .feature .section__heading {
  width: 45%;
}
#service-details .feature__arrow__icon {
  width: 17px;
  height: 14px;
  margin: 0px 5px 0 0;
}
#service-details .feature__link:hover .feature__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
#service-details .feature__link:hover {
  color: var(--primary);
}
#service-details .feature__link--active {
  color: var(--primary);
  fill: var(--primary);
}

#service-details .feature__image__container {
  position: relative;
}
#service-details .feature__circle__icon {
  height: 250px;
  width: 208px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  fill: var(--primary);
}
#service-details .feature__content:hover .feature__circle__icon {
  opacity: 1;
}

#service-details .feature__content:hover .feature__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
#service-details .feature__content:hover .feature__more {
  color: var(--primary);
}

/* service details feature responsive */
@media (max-width: 992px) {
  .feature__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #service-details .feature__title {
    font-size: 24px;
    line-height: 35px;
    margin: 35px 0px 0px 0px;
  }
}
@media (max-width: 424px) {
  #service-details .feature__content {
    text-align: center;
    width: 100%;
    padding: 25px 0;
  }
  #service-details .feature__desc {
    margin: 30px 0px 20px 0px;
  }
}
/* ABOUT US SECTION */
/* .wellcome__image__container {
  height: 720px;
} */

#home-1 .about-us {
  max-width: 1580px;
  margin-left: auto;
}
.welcome__image {
  background-image: url(../image/home1/welcome_image.png);
  width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.welcome__content {
  flex-direction: column;
  width: 85%;
  padding: 50px 50px;
}
.welcome__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  color: #5f6165;
}
.about-us__welcome {
  padding: 0px 0px;
}
.about-us__welcome ul li {
  padding: 5px 0;
}
.welcome___list {
  margin-top: 10px;
  padding-left: 0px;
}
.welcome__list_item {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #131922;
}

.about-us__welcome .btn_primary {
  width: 35%;
  border-radius: 10px;
  margin-top: 5px;
}
.about-us hr {
  margin: 10px 5px;
}
/* .focus-quality__image_container {
  padding-left: 16px;
} */
.focus-quality__image {
  background-image: url(../image/home1/focus_quality.png);
  width: 100%;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;
}
.focus-quality__content {
  padding: 80px 40px 80px 0px;
}

.about-us__focus-quality img {
  width: 100%;
  padding-left: 15px;
}
.focus__quality_progress {
  margin-top: 40px;
}
.focus__quality_progress_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.focus__quality__progress_bar {
  height: 10px;
  background: #ff4c1a;
  margin-bottom: 2px;
  border-bottom: 2px solid #ff4c1a;
}
.focus__quality__progress_line {
  background: #ff4c1a;
  height: 2px;
}
.focus__quality__progress_bar--consulting {
  width: 60%;
}
.focus__quality__progress_bar--finance {
  width: 80%;
}
.focus__quality__progress_bar--start-up {
  width: 65%;
}
.order-about {
  order: 0;
}
.order-quality {
  order: 1;
}
/* About-us responsive */
@media (max-width: 1500px) {
  .about-us {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 992px) {
  .welcome__content {
    width: 100%;
    padding: 50px 0;
  }
  .about-us__welcome ul li {
    padding: 10px 0;
  }
  .focus-quality__content {
    padding: 80px 30px 0px 30px;
  }
  /* .focus-quality__image_container {
    padding-right: 16px;
  } */
  .order-about {
    order: 10;
  }
}
@media (max-width: 424px) {
  .welcome__image {
    max-height: 350px;
  }
  .welcome__content {
    width: 100%;
    padding: 50px 0px;
  }
  .about-us__welcome ul li {
    padding: 15px 0;
  }
  .about-us__welcome .btn_primary {
    width: 100%;
  }

  .focus-quality__content {
    padding: 20px 0px;
  }
  .focus-quality__image_container {
    padding: 20px 0px;
  }
  .focus-quality__image {
    height: 310px;
    background-size: contain;
    margin-top: 15px;
  }
}
/* SEVICE SECTION */
.service {
  position: relative;
  background: url("../image/home1/service_bg_.jpg");
  padding: 100px 0 100px;
}
.service__heading__container {
  width: 70%;
}
.service .section__heading {
  color: var(--white);
  width: 100%;
}

.service__card__container {
  padding: 50px 0 0 0;
}
.service__card {
  padding: 40px;
  background: #131922;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 30px;
}
.service__icon {
  height: 68px;
  width: 68px;
  fill: var(--primary);
}
.service__content {
  padding: 0px 0px 0px 30px;
  width: 85%;
}
.service .feature__arrow__icon {
  fill: #a2a6ad;
  width: 18px;
  height: 17px;
}
.service__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--white);
}
.service .feature__link {
  color: #a2a6ad;
}

.service .feature__arrow__icon:hover {
  fill: #a2a6ad;
}
#home-1 .service .section__sub_heading::after {
  content: none;
}
/* service responsive */
@media (max-width: 768px) {
  .service__card {
    padding: 50px 30px;
  }
  .appointment__image {
    margin-top: -30px;
  }
}
@media (max-width: 424px) {
  .service {
    padding: 50px 0 120px;
  }
  .service__card__container {
    padding: 50px 0 0px 0;
  }
  .service__card {
    margin: 0 0 40px 0;
    padding: 25px 25px;
  }
}
/* APPOINTMENT SECTION */
/* APPOINTMENT COMMON */
#home-1 .appointment .container {
  margin-top: -70px;
}
.appointment {
  background: #fff;
  padding: 0px 0px;
}
.appointment .container {
  margin-top: 0;
  position: relative;
  z-index: 10;
  background: #f5f6f0;
}

.appointment__image {
  height: 100%;
  width: 100%;
}
.appointment__content {
  padding: 70px 80px;
}
.appointment .section__sub_heading_line {
  margin: 10px;
}
.appointment .welcome__desc {
  margin-top: 30px;
}
.appointment__form {
  margin-top: 30px;
}
.appointment .btn_primary {
  border-radius: 10px;
}
.appointment .form-control {
  border-radius: 10px;
  border: 1px solid #e3e4dd;
}

.appointment__top__arrow {
  position: absolute;
  fill: #e6e8e0;
  width: 20px;
  height: 109px;
  right: 100px;
  top: 50px;
}
.appointment__bottom_right__arrow {
  position: absolute;
  fill: #e6e8e0;
  width: 109px;
  height: 20px;
  right: 150px;
  bottom: 70px;
}
.appointment textarea {
  max-height: 150px;
  resize: none;
}
@media (max-width: 992px) {
  .appointment__content {
    padding: 50px 0px;
  }
}
@media (max-width: 424px) {
  .appointment__content {
    padding: 50px 0px;
  }
  .appointment__top__arrow {
    right: 30px;
  }
  .appointment__bottom_right__arrow {
    right: 30px;
  }
  .appointment__image {
    margin-top: -50px;
  }
}
/* PROJECT SECTION */
.project {
  max-width: 1580px;
  margin-left: auto;
  padding-bottom: 30px;
}
.project__title__container {
  max-width: 1320px;
}
.project__title {
  padding: 0 0 0 0;
}
.project__arrow__icon {
  height: 17px;
  width: 18px;
  fill: #5f6165;
}
.project .btn_secondary {
  border: 1px solid #888888;
  border-radius: 3px;
  padding: 15px 28px;
}
.project .btn_primary {
  border: 1px solid var(--primary);
  border-radius: 3px;
  padding: 15px 28px;
}

.project .btn_primary .project__arrow__icon {
  fill: var(--white);
}
.project__title__btn {
  padding-top: 30px;
}
.project__title__divider {
  height: 1px;
  background: #888888;
  margin: 30px 0 50px 0px;
}
.swiper__slider {
  padding-left: 0px;
}
#home-1 .swiper__content {
  height: 490px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 0 30px 30px 30px;
}
.swiper__image-1 {
  background-image: url(../image/home1/project-slier-1.png);
}
.swiper__image-2 {
  background-image: url(../image/home1/project-slier-2.png);
}
.swiper__image-3 {
  background-image: url(../image/home1/project-slier-3.png);
}
.swiper__image-4 {
  background-image: url(../image/home1/project-slier-4.png);
}
.swiper__image-5 {
  background-image: url(../image/home1/project-slier-5.png);
}
.swiper__image-6 {
  background-image: url(../image/home1/project-slier-6.png);
}
.slider__title {
  background: var(--white);
  padding: 18px 30px;
  width: 100%;
  font-size: 22px;
  line-height: 32px;
  text-transform: capitalize;
  color: #131922;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.slider__title:hover {
  background: var(--primary);
  color: var(--white);
}

.slider__btn {
  border-radius: 20px;
  padding: 5px 16px;
  background: var(--white);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.slider__right__arrow__icon {
  height: 13px;
  width: 26px;
  fill: var(--primary);
}
.slider__title:hover .slider__btn {
  opacity: 1;
  visibility: visible;
}
/* project responsive */
@media (max-width: 1500px) {
  .project___slider__container {
    max-width: 1320px;
    padding: 0 30px;
    margin-left: auto;
  }
}
@media (max-width: 992px) {
  .project__title__divider {
    height: 1px;
    background: #888888;
    margin: 30px 0 50px 30px;
  }
  .swiper__slider {
    padding-left: 30px;
  }
}

@media (max-width: 424px) {
  .swiper__slider {
    padding: 0px 0px;
  }
  .project__title__divider {
    margin: 30px 0 50px 20px;
  }
  .swiper__content {
    width: 100%;
  }
}
/* WORKING PROCESS */

.working-process .section__sub_heading {
  color: #131922;
}
.process__container {
  margin: 60px 0;
}

.process__icon-container {
  padding: 35px 40px;
  background: var(--primary);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.process__icon {
  width: 66px;
  height: 74px;
  fill: var(--white);
}
.process__text {
  margin: 30px 0 20px 0;
}
.process__title {
  font-size: 30px;
  color: #131922;
}
.process__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
}
.process__main-icon-content {
  width: 169px;
  height: 169px;
  border-radius: 50%;
  background: #f5f6f0;
}
#home-1 .working-process .section__sub_heading::after {
  content: none;
}
@media (max-width: 767px) {
  .process__main-icon-content {
    order: 1;
  }
  .process__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .process__text {
    text-align: center;
    order: 2;
  }
}
/* TESTIMONIAL SECTION*/
#testimonial {
  padding: 0;
}
.testimonial {
  background-image: url(../image/home1/testimonial-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 739px; */
  width: 100%;
}
.testimonial_slider_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-shadow: 0px 5px 8px rgba(95, 97, 101, 0.04);
}
.testimonial-slider {
  width: 600px;
  overflow: hidden;
  margin: 0 110px 0 0;
}
.testimonial__slider__card {
  background: var(--white);
  padding: 80px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../image/home1/testimonial-map.png);
  background-repeat: no-repeat;
}
.testimonail__des {
  font-size: 22px;
  line-height: 32px;
  color: #5f6165;
  margin: 40px 0 40px 0;
  width: 90%;
}
.testimonial__btn {
  display: flex;
  align-items: center;
  gap: 40px;
}
.testimonial__slider_prev {
  border: 1px solid #888888;
  border-radius: 3px;
}
.testimonial__name {
  text-align: center;
  text-transform: capitalize;
  color: #131922;
}
.testimonial__person_info {
  flex-direction: column;
}
.testimonial .project__arrow__icon--active {
  fill: var(--white);
}
.testimonial__arrow__icon {
  fill: var(--yellow);
  height: 20px;
  width: 16px;
  margin: 0 0 5px 0;
}
.testimonial__image__container {
  position: relative;
}
.testimonial .quote__icon-container {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 129px;
  right: 5px;
}
.testimonial .quote__icon {
  width: 21px;
  height: 19px;
  fill: var(--white);
}
/* testimonial responsive */
@media (max-width: 768px) {
  /* .testimonial_slider_container {
    width: 85%;
  } */
  .testimonial-slider {
    width: 478px;
  }
}
@media (max-width: 375px) {
  .testimonial {
    background-image: none;
  }
  .testimonial-slider {
    margin: 0;
  }

  .testimonial .container {
    padding: 0px 0px;
    /* max-width: 1320px; */
  }
  .testimonial__slider__card {
    padding: 50px 20px;
  }
  .testimonial__btn {
    gap: 20px;
  }
  .testimonail__des {
    margin: 30px 0 30px 0;
    width: 100%;
  }
}
/* PRICE SECTION */
/* price main */
#price-main
  .display__flex__section__sub__heading__icon
  .section__sub_heading::after {
  content: none;
}
#price-main .price__card {
  border: 20px solid #f5f6f0;
  width: 97%;
  transition: all 0.5s ease-in-out;
}
#price-main .price__card:hover {
  border-color: var(--primary);
}
#price-main .price__card-content {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(19, 25, 34, 0.04);
  padding: 45px 30px;
  gap: 20px;
}

#price-main .process__icon {
  width: 44px;
  height: 42px;
  fill: var(--white);
}
#price-main .process__icon-container {
  padding: 19px 18px;
  background: var(--primary);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0 20px 0 0;
}
#price-main .price__plan {
  font-weight: 400;
  color: #131922;
}
#price-main .price__line {
  background: #e1e1e1;
  height: 1px;
  margin: 20px 0 25px 0;
}
#price-main ul li span {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
}
#price-main ul li {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
#price-main .price__check__icon {
  fill: #5f6165;
  height: 15px;
  width: 15px;
  margin: 0 10px 0 0;
}
#price-main .nav__arrow__icon {
  fill: var(--secondary);
}

#price-main .buy__button {
  padding: 17px 0;
  background: #f5f6f0;
  border: 1px solid #e3e4dd;
  border-radius: 10px;
  text-transform: uppercase;
  color: #131922;
}
#price-main .price__card:hover .buy__button {
  background: var(--secondary);
  color: var(--white);
}
#price-main .price__card:hover .nav__arrow__icon {
  fill: var(--white);
}
#price-main .price__card:hover ul li span {
  color: var(--secondary);
}
#price-main .price__card:hover ul li .price__check__icon {
  fill: var(--secondary);
}

#home-1 .price-main .section__sub_heading::after {
  content: none;
}
/* service price responsive */
@media (max-width: 992px) {
  #price-main .price__card {
    margin-bottom: 30px;
  }
}
@media (max-width: 424px) {
  #price-main .price__card {
    width: 100%;
    margin: 0 0 20px 0;
  }
  #price-main .price__card-content {
    padding: 30px 20px;
  }
}

/* BLOG SECTION */
/* #blog .position-relative:first-child {
  object-fit: cover;
  width: 100%;
} */
#blog-home-1 {
  padding: 0;
}
.blog-home-1 .container {
  border-bottom: 1px solid #888888;
}
.blog__image_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.blog-home-1 .project__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-home-1 .title__text {
  width: 45%;
}
.blog-home-1 .btn_secondary {
  border-radius: 10px;
  padding: 18px 30px;
}
.blog-home-1 .project__arrow__icon {
  margin: 0 10px 0 0;
}
.blog__person {
  /* position: absolute;
  top: 300px; */
  display: flex;
  align-items: center;
  width: 30%;
  gap: 15px;
  text-transform: uppercase;
}
.blog__person__img {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: 1px solid #ffff;
}
.blog__content {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.blog__text {
  margin: 30px 0 0 0;
  width: 90%;
}
.blog-home-1 .card {
  border: none;
}
.blog-home-1 .blog__text h3 {
  font-weight: 600;
  font-size: 30px;
  color: #131922;
  margin: 10px 0;
}
.blog__badge__container {
  display: flex;
  gap: 15px;
}
/* blog responsive */
@media (max-width: 992px) {
  .blog-home-1 .title__text {
    width: 65%;
  }
  .blog-home-1 .process__container .blog__img {
    width: 100%;
  }
  .blog-home-1 .card {
    margin-bottom: 30px;
  }
}
@media (max-width: 424px) {
  .blog-home-1 .project__title {
    flex-direction: column;
  }
  .blog-home-1 .title__text {
    width: 100%;
  }
  .blog-home-1 .project__title__btn {
    display: block;
    width: 100%;
  }
  .blog-home-1 .btn_secondary {
    width: 100%;
  }
  .blog-home-1 .blog__img {
    width: 320px;
  }
  .blog__person {
    width: 80%;
  }
  .blog-home-1 .card {
    margin: 0 0 20px 0;
  }
  .blog-home-1 .blog__text h3 {
    font-size: 25px;
  }
}
/* BRAND SECTION */
.brand img {
  opacity: 0.5;
}
.brand img:hover {
  opacity: 1;
}
/* brand responsive */
@media (max-width: 768px) {
  .brand .brand__image__container {
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .brand__image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
  }
}
/* FOOTER SECTION */
#footer {
  padding: 100px 0px 0px 0px;
}
.footer {
  background: var(--secondary);
}
.footer__cta {
  padding: 36px 80px;
  background: #131922;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.cta__icon__container {
  display: flex;
}
.footer__phone_icon {
  fill: var(--white);
  height: 64px;
  width: 74px;
  margin: 5px 35px 0 0;
}
.footer__cta__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
  /* width: 70%; */
}
.footer__btn_container {
  padding-top: 20px;
}
.footer__widget {
  padding: 80px 0px;
}
.footer__widget__des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #888888;
}
.footer__widget__des--margin-top {
  margin-top: 20px;
}
.footer__widget__des--emergency {
  font-weight: 500;
}
.footer__widget__number {
  line-height: 30px;
  color: #ffffff;
}
.footer__widget__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__widget__des--white {
  color: #ffffff;
  margin-top: 20px;
}
/* .footer__widget__des--grey {
  color: ;
} */
.footer__newsletter {
  background: var(--secondary);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
  opacity: 0.45;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #888888;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  color: red;
  background: green;
}
.social_icons i {
  font-size: 18px;
  color: var(--white);
  padding-right: 15px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
}

.footer hr {
  margin: 0;
  background: #d9d9d9;
  opacity: 0.2;
  height: 1px;
}
.footer__copyright {
  padding: 30px 0 20px;
  display: flex;
  justify-content: space-between;
}
.footer .copyright__links ul li {
  display: inline;
  padding-right: 10px;
}
.list-inline {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* footer responsive */
@media (max-width: 992px) {
  #footer {
    padding: 100px 0 0px 0;
  }
  .footer__cta {
    padding: 36px 30px;
  }
  .footer__cta__title {
    font-size: 20px;
    line-height: 30px;
  }
  .footer__phone_icon {
    height: 80px;
    width: 115px;
  }
}
@media (max-width: 375px) {
  #footer {
    padding: 100px 0 20px 0;
  }
  .footer .cta__icon__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__cta {
    padding: 36px 20px;
  }
  .footer__phone_icon {
    margin: 0 0 20px 0;
  }
  .footer__btn_container {
    width: 100%;
  }
  .footer .btn_primary {
    width: 100%;
  }
  .footer__widget__content {
    margin-top: 20px;
  }
  .footer__copyright {
    flex-direction: column;
  }
}
