@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

@import "./style2.css";
:root {
  --primary: #ffde00;
  --secondary: #131922;
  --white: #ffffff;
  --gery-1: #5f6165;
  --gery-2: #888888;
  --gery-3: #a2a6ad;
  --yellow: #ffa818;
}
/* Global   */
html {
  background: red;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
*:focus {
  outline: none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important ;
}
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary);
  overflow-x: hidden;
}
html {
  background: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
}

label {
  font-family: "Roboto", sans-serif;
  font-family: "Sen", sans-serif;
  font-size: 14px;
}
.container {
  padding: 0px;
  max-width: 1320px;
}

section {
  padding: 100px 0px;
}
.section__content {
  margin: 50px 0 0 0;
}
.section__heading {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  color: #131922;
}
.section__sub_heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #5f6165;
}
.section__description {
  color: #5f6165;
  font-weight: 400;
  font-size: 20px;
  width: 60%;
  margin: 15px 0 30px 0;
}
.section__sub_heading_line {
  width: 30px;
  height: 2px;
  background: #ff4c1a;
}
.section__sub_heading--active {
  display: flex;
}
.section__info__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* .container {
  padding: 0px;
  max-width: 1320px;
} */
.active {
  color: var(--primary);
}
ul li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-bold-color {
  color: var(--secondary);
}
.btn-primary:hover {
  background: var(--primary);
}
/* icon */
.icon {
  width: 50px;
  height: 50px;
  /* margin: 0.5em; */
  /* fill: red; */
}
.icon__btn {
  width: 17px;
  height: 16px;
}
hr {
  margin: 0;
  padding: 0;
}
.section__sub_heading_line {
  width: 30px;
  height: 2px;
  background: var(--gery-1);
}
section .section__sub_heading_line {
  margin: 10px;
}
/* Buttons */
.btn_primary {
  background: var(--primary);
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--secondary);
  padding: 13px 25px;
  border: none;
}
.btn_secondary {
  background: var(--white);
  border-radius: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--secondary);
  padding: 13px 25px;
  border: 1px solid #888888;
}
.btn-primary:hover svg {
  fill: var(--white);
}
.btn-primary:hover {
  border: none;
}
.button-rounded {
  border-radius: 50px;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--primary) !important;
  border-color: var(--primary);
}
/* Badges  */
.badge-primary {
  background: var(--primary);
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin: 0 10px 0 0;
}
*:focus {
  outline: none;
}
textarea:focus,
input:focus .btn-primary:focus .btn_primary:focus,
button {
  outline: none !important;
}
.section__sub_heading--circle-bg {
  color: #131922;
  background-image: url("../image/home1/BG_circle.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 0px;
  font-weight: 600;
}
.hidden {
  display: none;
}
/* Anchor link css */
.anchor__link {
  margin: 0px 0px 0px 0px;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--secondary);
}
.anchor__link:hover .button__right__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
.anchor__link:hover {
  color: var(--primary);
}
.anchor__link--active {
  color: var(--primary);
  fill: var(--primary);
}
.button__right__arrow__icon {
  width: 17px;
  height: 14px;
  margin: 0px 5px 0 0;
  fill: var(--secondary);
}

/* general global Responsive */
@media (max-width: 768px) {
  .container {
    padding: 0px 30px;
    /* max-width: 1320px; */
  }
}
@media (max-width: 375px) {
  section {
    padding: 50px 0;
  }
  .section__heading {
    font-size: 40px;
  }
  .process__container {
    margin: 25px 0;
  }
}

/* ============= Home 2 ======================== */
#hero {
  padding: 0px;
}
.hero__container {
  max-width: 1720px;
}
.hero {
  background-color: #cccccc;
  background-repeat: no-repeat;
  max-height: 100vh;
  background: linear-gradient(0deg, rgba(34, 26, 5, 0.4), rgba(34, 26, 5, 0.4)), url("../image/home2/home-2\ hero.png");
  background-size: cover;
  background-position: center;
}
.hero__container {
  padding-top: 0px;
}
.hero__content {
  color: white;
  position: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.hero__badge {
  background: #141413;
  opacity: 0.3;
  border-radius: 3px;
  font-size: 20px;
  color: #ffffff;
  margin-top: -60px;
}
.hero__title {
  font-weight: 700;
  font-size: 85px;
  line-height: 90px;
  /* text-align: center; */
  text-transform: uppercase;
  color: #ffffff;
  width: 60%;
  margin-top: -60px;
}
.hero__button {
  margin-top: 40px;
}
/* navbar */
.nav-custom {
  background: var(--white);
  color: var(--secondary);
  border-radius: 34px;
  padding: 10px 20px;
}
.navbar-dark .navbar-nav .nav-link {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #131922;
  padding-right: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-dark .navbar-nav .show > .nav-link {
  color: var(--secondary);
}
.dropdown-toggle::after {
  display: none;
}
.navbar-brand {
  margin-right: 7rem;
}
.search__icon {
  width: 24px;
  height: 24px;
  margin: 0px 20px 0px 0px;
}
.navbar-dark .navbar-toggler {
  position: relative;
}

.nav__item__line {
  height: 30px;
  width: 2px;
  background: var(--primary);
  display: block;
}
/* .hero__container {
  padding-top: 20px;
} */
.phone__image__container {
  border-left: 1px solid #dadbde;
  padding-left: 20px;
}
.phone__image__container img {
  height: 44px;
  width: 43px;
}
.nav__number__container {
  display: flex;
  flex-direction: column;
}
.nav__free {
  font-weight: 500;
  font-size: 15px;
  color: #5f6165;
}
.nav__number {
  font-weight: 700;
  font-size: 18px;
  color: #131922;
}
.nav__search__container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__phone__search__container {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* header icon  start*/
.fa-search:before {
  content: "\f002";
  font-size: 24px;
  padding: 30px 25px 0px 0px;
}
.fa-bars:before {
  content: "\f0c9";
  color: black;
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 3px;
}
.search__icon {
  width: 24px;
  height: 24px;
  margin: 0px 20px 0px 0px;
}
.nav__arrow__icon {
  width: 17px;
  height: 14px;
  fill: var(--secondary);
  margin: 0 2px 0 0;
}
.dropdown-menu {
  transition: all 0.5s ease-in-out !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.hero__topbar {
  display: flex;
  justify-content: space-between;
}
.topbar__left {
  display: flex;
}
.top__container {
  padding: 10px 25px;
}
.top__icon {
  fill: var(--white);
}
.top__icon__text {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.top__line {
  width: 1px;
  height: 25px;
  background: #ffffff;
  opacity: 0.5;
  margin: 0 15px;
}
.topbar__right {
  display: flex;
}
.social_icons {
  display: flex;
  gap: 10px;
}
.social_icons i {
  color: var(--white);
}

/* header icon  end*/
.hero .search__icon {
  margin: 0px 7px 0px 0px;
}
/* navbar hero responsive */
@media (max-width: 375px) {
  .navbar-toggler-icon {
    bottom: 10px;
    left: 220px;
    position: absolute;
  }
}
/* APPOINTMENT SECTION */
#appointment {
  padding: 90px 0;
}
.appointment {
  background: #f5f6f0;
}
.appoinment__container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.appoinment__title {
  width: 90%;
}
.appointment__form {
  width: 100%;
}
.appointment .form-control {
  padding: 18px 25px;
  height: auto;
  border-radius: 0px;
  border: 1px solid #e3e4dd;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #5f6165;
  box-shadow: 0px 0px 6px rgba(3, 4, 27, 0.03);
}
.appointment .appointment__form .btn_primary,
select {
  height: 100% !important;
}
/* ABOUT US SECTION */
.about-us {
  background-image: url(../image/home2/about-us-bg.jpg);
  background-position: right 79px top -83px;
  background-repeat: no-repeat;
}
.about-us .section__description {
  width: 98%;
  margin: 40px 0 20px 0;
}
.about-us-image-sideborder {
  width: 82px;
  height: 550px;
  background: #fcdb00;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 50px;
}
.about-us-right-image-container {
  display: flex;
  gap: 20px;
}
/* FUN FACTS */
.fun-facts {
  position: relative;
  background: var(--secondary);
}

.fun-facts .section__heading {
  color: var(--white);
}

.fun-facts__card {
  background: #131922;
  border-radius: 10px;
  display: flex;
}
.fun-facts__icon {
  height: 68px;
  width: 68px;
  fill: var(--primary);
}
.fun-facts__content {
  padding: 0px 0px 0px 10px;
  width: 100%;
}
.number__line {
  width: 1px;
  height: 70px;
  background: #d4dad8;
  opacity: 0.2;
  margin: 0 15px;
}

.fun-facts .feature__arrow__icon {
  fill: #a2a6ad;
}
.fun-facts__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--white);
}
.fun-facts .feature__link {
  color: #a2a6ad;
  font-weight: 600;
  font-size: 20px;
}

.fun-facts .feature__arrow__icon:hover {
  fill: #a2a6ad;
}
/* Fun facts responsive */
@media (max-width: 768px) {
  .fun-facts__card {
    padding: 50px 30px;
  }
  .appointment__image {
    margin-top: -70px;
  }
}
@media (max-width: 375px) {
  .fun-facts {
    padding: 50px 0 250px;
  }
  .fun-facts__card__container {
    padding: 50px 0 0px 0;
  }
  .fun-facts__card {
    margin: 0 0 40px 0;
    padding: 25px 25px;
  }
}
/* SERVICE SECTION */
.service {
  position: relative;
}
.service .section__heading {
  margin: 10px 0 50px;
  width: 48%;
}
.service .swiper__content {
  background: #f5f6f0;
  display: flex;
}
.service .swiper__text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service .process__icon-container {
  padding: 11px 30px;
  background: var(--primary);
  border-radius: 50%;
  height: 83px;
  width: 75px;
}
.process__service-teamworkicon {
  height: 62px;
  width: 63px;
}
.service .swiper__title {
  font-size: 30px;
}
.service .section__description {
  width: 100%;
}
.service__slider_prev {
  position: absolute;
  left: 160px;
  bottom: 263px;
  padding: 15px 20px;
  border-radius: 50%;
}
.service___right__arrow__icon {
  width: 18px;
  height: 17px;
}
.service__slider_next {
  position: absolute;
  right: 160px;
  bottom: 263px;
  padding: 15px 20px;
  border-radius: 50%;
}
/* FEATURE SECTION */
.feature {
  display: flex;
  gap: 50px;
  background: url(../image/home2/feature-bg.png), linear-gradient(0deg, rgba(245, 248, 247, 1), rgba(245, 248, 247, 1));
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 262px;
}
.feature .about-us-image-sideborder {
  height: 680px;
}
.feature__accordion__container {
  width: 30%;
  /* display: flex;
  flex-direction: column;
  gap: 15px; */
}
.feature .section__description {
  width: 90%;
  font-size: 16px;
  margin: 15px 0 35px 0;
}
.feature .accordion .section__description {
  width: 90%;
  font-size: 16px;
  margin: 5px 0 5px 0;
}
.feature .accordion {
  height: 350px;
}
.feature .accordion .card-header {
  padding: 5px 10px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #131922;
}
.feature .accordion .btn-block {
  font-weight: 600;
  font-size: 20px;
  color: #131922;
}
.feature .accordion .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 10px 0 0px 32px;
}
.feature .btn-block {
  line-height: 1;
}
/* TEAM SECTION */
/* .team {
} */
.team .section__heading {
  width: 60%;
}
.team__card {
  background: #f5f6f0;
  width: 100%;
  text-align: center;
  position: relative;
}
.card__text {
  padding: 20px 20px;
}
.section__description {
  width: 100%;
  margin: 0;
  font-size: 16px;
}
.team__share__btn {
  padding: 15px;
  background: var(--white);
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 100px;
  left: 186px;
  cursor: pointer;
}
.team__share__btn:hover .team .social_icons {
  /* opacity: 1; */
  background: var(--primary);
}
.team .team__share__icon {
  width: 21px;
  height: 28px;
  fill: #6a6c71;
}
.team .social_icons {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 60px;
  background: var(--white);
  border-top: 7px solid var(--primary);
  border-right: 7px solid var(--primary);
  border-left: 7px solid var(--primary);
  position: absolute;
  bottom: 100px;
  left: 186px;
  z-index: 10;
  opacity: 1;
}
.team .social_icons i {
  font-size: 18px;
  color: var(--gery-1);
  padding: 14px 18px;
  font-weight: 400;
  border-bottom: 7px solid var(--primary);
}
/* PROJECT SECTION */
#project {
  padding: 0;
}
.project {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
.project .project__left {
  padding: 90px 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project .section__description {
  width: 85%;
}
.project .project__right {
  border-left: 1px solid #888888;
}
.project__title__btn {
  margin: 200px 0 0;
}
.project .swiper__content {
  padding: 50px 0 50px 50px;
}
.project__slider__image {
  background-size: cover;
  background-position: center;
  height: 621px;
  width: 770px;
  display: grid;
  place-items: center;
}
.project__slider__image_1 {
  background: linear-gradient(0deg, rgba(19, 25, 34, 0.4), rgba(19, 25, 34, 0.4)), url("../image/home2/project-slider-1.png");
}
.project__slider__image_2 {
  background: url("../image/home2/project-slider-2.png");
}
.project__slider__next {
  padding: 15px 20px;
  border-radius: 50%;
}
.project .swiper__text {
  margin-top: 20px;
}
.slider__btn {
  background: var(--secondary);
  color: var(--white);
}
/* BLOG SECTION */
.blog .section__heading {
  width: 50%;
}
.blog .team__card {
  text-align: left;
}
.blog .card__text {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 95%;
}
.blog__badge__container {
  display: flex;
  gap: 10px;
}
.blog .blog__badge {
  padding: 5px 15px;
  border: 1px solid #e3e4dd;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);
}
.blog .anchor__more {
  color: var(--gery-1);
}
/* TESTIMONIAL START */
.testimonials {
  /* width: 1200px; */
  /* padding-left: 100px;
 */
  margin-left: 262px;
}
.testimonials {
  background: url(../image/home2/testimonial-bg.jpg), linear-gradient(0deg, rgba(245, 248, 247, 1), rgba(245, 248, 247, 1));
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials .section__heading {
  width: 90%;
}
.testimonials .about-us-image-sideborder {
  height: 686px;
}
.testimonials__container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  padding: 0 0 0 100px;
}
.testimonials .about-us-right-image-container {
  position: relative;
  gap: 10px;
}
.tesimonial__btn {
  position: absolute;
  top: 324px;
  left: 399px;
  padding: 20px 25px;
  border-radius: 50%;
}
.testimonial__card {
  padding: 50px;
  background: var(--white);
  background-image: url(../image/home2/tesimonial-slider-bg.jpg);
  background-repeat: no-repeat;
  background-position-x: 250px;
  background-position-y:50px;
  margin-right: -125px;
  z-index: 10;
  max-height: 500px;
}
.tesimonial__quote__icon {
  height: 55px;
  width: 54px;
}
.testimonials .testimonial__arrow__icon{
  height: 20px;
  width: 16px;
  fill: var(--primary);
}
.testimonials .process__icon-container{
  margin: 0 0 20px 0;
}
.testimonials .section__description{
  margin: 20px 0 ;
}
.testimonials .slider__footer{
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .person__info{
  display: flex;
  gap: 10px;
  align-items: center;
}
.testimonials .person__designation{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.testimonials .person__title{
  font-size: 16px;
  color: var(--gery-1);
}
.testimonials .testimonial__title__btn{
  display: flex;
  gap: 10px;
}

/* CLIENT SECTION */
.client img {
  opacity: 0.5;
}
.client img:hover {
  opacity: 1;
}
.client__plane__icon {
  width: 34px;
  height: 43px;
  fill: var(--primary);
}
/* client responsive */
@media (max-width: 768px) {
  .client .brand__image__container {
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .client__image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
  }
}
/* MAP SECTION */
.map{
  background: url(../image/home2/map-bg.jpg);
  height: 825px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.map form h3{
  margin: 0 0 20px 0;
}
.map form{
  background: var(--white);
  width: 500px;
  height: 625px;
  padding: 50px 50px;
}
.map .form-control{
  padding: 2rem 1.5rem;
}
.map select option {
  padding: 1.8rem 1.5rem;
}

.map textarea {
  max-height: 150px;
  resize: none;
}
.map .btn_primary{
  padding: 18px ;
}
.map .map__pin__icon{
  height: 66px;
  width: 55px;
  position: absolute;
  top: 50%;
  right: 35%;
}

/* FOOTER SECTION */
#footer {
  padding: 100px 0 0px 0;
}
.footer {
  background: #f5f8f7;
  background-image: url(../image/home2/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer__cta {
  padding: 36px 80px;
  background: #131922;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.cta__icon__container {
  display: flex;
}
.footer__phone_icon {
  fill: var(--white);
  height: 64px;
  width: 74px;
  margin: 5px 35px 0 0;
}
.footer__cta__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
  /* width: 70%; */
}
.footer__btn_container {
  padding-top: 20px;
}
.footer__title {
  font-weight: 500;
  font-size: 45px;
  color: var(--secondary);
}
.footer__widget {
  padding: 0px 0px 80px 0;
}
.footer__widget__des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gery-1);
}
.footer__widget__des--margin-top {
  margin-top: 20px;
}
.footer__widget__des--emergency {
  font-weight: 500;
}
.footer__widget__number {
  line-height: 30px;
  color: #ffffff;
}
.footer__widget__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--secondary);
}
.footer__widget__des--black {
  color: var(--secondary);
  margin-top: 20px;
  font-weight: 400;
}
/* .footer__widget__des--grey {
  color: ;
} */
.footer__newsletter {
  background: #f5f8f74d;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: 1px solid #d2d9d7;
  opacity: 0.75;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #888888;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  color: red;
  background: green;
}
.social_icons i {
  font-size: 18px;
  color: var(--white);
  padding-right: 15px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 0px;
}

.footer hr {
  margin: 0;
  background: #d9d9d9;
  opacity: 0.2;
  height: 1px;
}
.footer__copyright {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer .copyright__links ul li {
  display: inline;
  padding-right: 10px;
}
.list-inline {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.footer a,
p {
  color: var(--gery-1);
}
.footer a:hover {
  color: var(--primary);
}
/* footer responsive */
@media (max-width: 768px) {
  #footer {
    padding: 100px 0 135px 0;
  }
  .footer__cta {
    padding: 36px 30px;
  }
  .footer__cta__title {
    font-size: 20px;
    line-height: 30px;
  }
  .footer__phone_icon {
    height: 80px;
    width: 115px;
  }
}
@media (max-width: 375px) {
  #footer {
    padding: 100px 0 20px 0;
  }
  .footer .cta__icon__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__cta {
    padding: 36px 20px;
  }
  .footer__phone_icon {
    margin: 0 0 20px 0;
  }
  .footer__btn_container {
    width: 100%;
  }
  .footer .btn_primary {
    width: 100%;
  }
  .footer__widget__content {
    margin-top: 20px;
  }
  .footer__copyright {
    flex-direction: column;
  }
}
