@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

@import "./style2.css";
:root {
  --primary: #ffde00;
  --secondary: #131922;
  --white: #ffffff;
  --gery-1: #5f6165;
  --gery-2: #888888;
  --gery-3: #a2a6ad;
  --yellow: #ffa818;
}
/* Global   */
html {
  background: red;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
*:focus {
  outline: none !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important ;
}
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary);
  overflow-x: hidden;
}
html {
  background: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
}

label {
  font-family: "Roboto", sans-serif;
  font-family: "Sen", sans-serif;
  font-size: 14px;
}
.container {
  padding: 0px;
  max-width: 1320px;
}

section {
  padding: 100px 0px 0px;
}
.section__content {
  margin: 50px 0 0 0;
}
.section__heading {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  color: #131922;
}
.section__sub_heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #5f6165;
}
.section__description {
  color: #5f6165;
  font-weight: 400;
  font-size: 20px;
  width: 60%;
  margin: 15px 0 30px 0;
}
.section__sub_heading_line {
  width: 30px;
  height: 2px;
  background: #ff4c1a;
}
.section__sub_heading--active {
  display: flex;
}
.section__info__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* .container {
  padding: 0px;
  max-width: 1320px;
} */
.active {
  color: var(--primary);
}

ul li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-bold-color {
  color: var(--secondary);
}
.btn-primary:hover {
  background: var(--primary);
}
/* icon */
.icon {
  width: 50px;
  height: 50px;
  /* margin: 0.5em; */
  /* fill: red; */
}
.icon__btn {
  width: 17px;
  height: 16px;
}
hr {
  margin: 0;
  padding: 0;
}
.section__sub_heading_line {
  width: 30px;
  height: 2px;
  background: var(--gery-1);
}
section .section__sub_heading_line {
  margin: 10px;
}
/* Buttons */
.btn_primary {
  background: var(--primary);
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--secondary);
  padding: 13px 25px;
  border: none;
}
.btn_secondary {
  background: var(--white);
  border-radius: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--secondary);
  padding: 13px 25px;
  border: 1px solid #888888;
}
.btn-primary:hover svg {
  fill: var(--white);
}
.btn-primary:hover {
  border: none;
}
.button-rounded {
  border-radius: 50px;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--primary) !important;
  border-color: var(--primary);
}
/* Badges  */
.badge-primary {
  background: var(--primary);
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin: 0 10px 0 0;
}
*:focus {
  outline: none;
}
textarea:focus,
input:focus .btn-primary:focus .btn_primary:focus,
button {
  outline: none !important;
}
.section__sub_heading--circle-bg {
  color: #131922;
  background-image: url("../image/home1/BG_circle.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 0px;
  font-weight: 600;
}
.hidden {
  display: none !important;
}
/* Anchor link css */
.anchor__link {
  margin: 0px 0px 0px 0px;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--secondary);
}
.anchor__link:hover .button__right__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
.anchor__link:hover {
  color: var(--primary);
}
.anchor__link--active {
  color: var(--primary);
  fill: var(--primary);
}
.button__right__arrow__icon {
  width: 17px;
  height: 14px;
  margin: 0px 5px 0 0;
  fill: var(--secondary);
}

/* general global Responsive */
@media (max-width: 1400px) {
  .container {
    padding: 0 10px;
    max-width: 1200px;
  }
  /* .container img {
    width: 85%;
    object-fit: cover;
  }
  section img {
    width: 85%;
    object-fit: cover;
  } */
}
@media (max-width: 992px) {
  .container {
    padding: 0px 30px;
    /* max-width: 1320px; */
  }
  section {
    padding: 50px 0 0;
  }

  .section__heading {
    font-size: 30px !important;
    width: 100% !important;
    line-height: 1.5;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  section {
    padding: 50px 0 0;
  }

  .process__container {
    margin: 25px 0;
  }
  .section__heading {
    font-size: 30px !important;
    width: 100% !important;
    line-height: 1.5;
  }
}
@media screen and (max-width: 374px) {
  section {
    padding: 50px 0 0;
  }

  .process__container {
    margin: 25px 0;
  }
  .section__heading {
    font-size: 25px !important;
    width: 100% !important;
    line-height: 1.2;
  }

  section img {
    width: -webkit-fill-available !important;
  }
}

/* ============= Home 2 ======================== */
/* HEADER SECTION */
.header {
  margin-bottom: -123px;
}
.header__container {
  max-width: 1720px;
  padding-top: 0px;
}
.header__topbar {
  display: flex;
  justify-content: space-between;
}
.topbar__left {
  display: flex;
}
.top__container {
  padding: 10px 25px;
}
.top__icon {
  fill: var(--white);
}
.top__icon__text {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.top__line {
  width: 1px;
  height: 25px;
  background: #ffffff;
  opacity: 0.5;
  margin: 0 15px;
}
.topbar__right {
  display: flex;
}
.social_icons {
  display: flex;
  gap: 10px;
}
.social_icons i {
  color: var(--white);
}

/* navbar */
.nav-custom {
  background: var(--white);
  color: var(--secondary);
  border-radius: 34px;
  padding: 10px 20px;
}
.navbar-dark .navbar-nav .nav-link {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #131922;
  padding-right: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-dark .navbar-nav .show > .nav-link {
  color: var(--secondary);
}
.dropdown-toggle::after {
  display: none;
}
.navbar-brand {
  margin-right: 7rem;
}
.search__icon {
  width: 24px;
  height: 24px;
  margin: 0px 20px 0px 0px;
}
.navbar-dark .navbar-toggler {
  position: relative;
}

.nav__item__line {
  height: 30px;
  width: 2px;
  background: var(--primary);
  display: block;
}

.phone__image__container {
  border-left: 1px solid #dadbde;
  padding-left: 20px;
}
.phone__image__container img {
  height: 44px;
  width: 43px;
}
.nav__number__container {
  display: flex;
  flex-direction: column;
}
.nav__free {
  font-weight: 500;
  font-size: 15px;
  color: #5f6165;
}
.nav__number {
  font-weight: 700;
  font-size: 18px;
  color: #131922;
}
.nav__search__container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__phone__search__container {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* header icon  start*/
.fa-search:before {
  content: "\f002";
  font-size: 24px;
  padding: 30px 25px 0px 0px;
}
.fa-bars:before {
  content: "\f0c9";
  color: black;
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 3px;
}
.search__icon {
  width: 24px;
  height: 24px;
  margin: 0px 20px 0px 0px;
}
.nav__arrow__icon {
  width: 17px;
  height: 14px;
  fill: var(--secondary);
  margin: 0 2px 0 0;
}
.dropdown-menu {
  transition: all 0.5s ease-in-out !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.header .search__icon {
  margin: 0px 7px 0px 0px;
  cursor: pointer;
}
/* header responsive */
@media (max-width: 768px) {
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    background: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 10px 0;
  }
  .header__topbar {
    display: none;
  }
  .nav__search__container {
    display: none;
  }
}
@media screen and (max-width: 424px) {
  .header__container .container {
    padding: 0 0;
  }

  .navbar-dark .navbar-brand {
    width: 140px;
    height: 45px;
  }
  .navbar-toggler-icon {
    bottom: 10px;
    left: 220px;
    position: absolute;
  }
  .header__topbar,
  .nav__search__container {
    display: none;
    visibility: hidden;
  }
}
/* HERO SECTION */
#hero {
  padding: 123px 0 0 0;
}

.hero {
  background-color: #cccccc;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(34, 26, 5, 0.4), rgba(34, 26, 5, 0.4)),
    url("../image/home2/home-2\ hero.png");
  background-size: cover;
  background-position: center;
}

.hero__content {
  color: white;
  position: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.hero__badge {
  background: #141413ab;
  opacity: 0.8;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  /* position: absolute;
  top: 18%;
  left: 0%; */
  padding: 4px 10px;
}
.hero__title {
  font-weight: 700;
  font-size: 85px;
  line-height: 90px;
  /* text-align: center; */
  text-transform: uppercase;
  color: #ffffff;
  width: 60%;
  margin-top: 15px;
  /* margin-top: -60px; */
}
.hero__button {
  margin-top: 40px;
}
/* hero responsive */
@media (max-width: 768px) {
  /* .container {
    padding: 0px 30px;
    max-width: 1320px;
  } */

  .hero__title {
    font-size: 65px;
    line-height: 70px;
    margin-top: 15px;
    width: 100%;
  }
}
/* @media screen and (min-width: 375px) and (max-width: 424px) */

@media screen and (max-width: 424px) {
  .hero__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 48px;
    text-transform: uppercase;
    color: #ffffff;
  }
  /* .hero__badge {
    top: 10%;
  } */

  section {
    padding: 50px 0;
  }
  .section__heading {
    font-size: 40px;
  }
  .process__container {
    margin: 25px 0;
  }
}

/* APPOINTMENT SECTION */
#appointment {
  padding: 90px 0;
}
.appointment {
  background: #f5f6f0;
}
.appoinment__container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.appoinment__title {
  width: 90%;
}
.appointment__form {
  width: 100%;
}
.appointment .form-control {
  padding: 18px 25px;
  height: auto;
  border-radius: 0px;
  border: 1px solid #e3e4dd;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #5f6165;
  box-shadow: 0px 0px 6px rgba(3, 4, 27, 0.03);
}
.appointment .appointment__form .btn_primary,
select {
  height: 100% !important;
}
/* appointment responsive */
/* @media screen and (min-width: 375px) and (max-width: 424px) {
 
} */
@media screen and (max-width: 768px) {
  .appoinment__container {
    flex-direction: column;
  }
  .appoinment__title {
    width: 100%;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 424px) {
  .appoinment__container {
    flex-direction: column;
  }
}
/* ABOUT US SECTION */
.about-us {
  background-image: url(../image/home2/about-us-bg.jpg);
  background-position: right 79px top -83px;
  background-repeat: no-repeat;
}
.about-us .section__description {
  width: 98%;
  margin: 40px 0 20px 0;
}
.about-us-image-sideborder {
  width: 82px;
  height: 550px;
  background: #fcdb00;
}
.about__right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 50px;
}
.about-us-right-image-container {
  display: flex;
  gap: 20px;
}
/* about us responsive */
@media (max-width: 768px) {
  .about-us-right-image-container {
    align-items: center;
    justify-content: center;
  }
  .about-us-image-sideborder {
    display: none;
  }
  .about__right {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .order__about__right {
    order: 0;
  }
  .order__about__left {
    order: 1;
  }
  .about-us img {
    width: 100%;
  }
}
/* @media (max-width: 424px) {
 
} */
/* FUN FACTS */
.fun-facts {
  position: relative;
  background: var(--secondary);
}

.fun-facts .section__heading {
  color: var(--white);
}

.fun-facts__card {
  background: #131922;
  border-radius: 10px;
  display: flex;
}
.fun-facts__icon {
  height: 68px;
  width: 68px;
  fill: var(--primary);
}
.fun-facts__content {
  padding: 0px 0px 0px 10px;
  width: 100%;
}
.number__line {
  width: 1px;
  height: 70px;
  background: #d4dad8;
  opacity: 0.2;
  margin: 0 15px;
}

.fun-facts .feature__arrow__icon {
  fill: #a2a6ad;
}
.fun-facts__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--white);
}
.fun-facts .feature__link {
  color: #a2a6ad;
  font-weight: 600;
  font-size: 20px;
}

.fun-facts .feature__arrow__icon:hover {
  fill: #a2a6ad;
}
/* Fun facts responsive */
@media (max-width: 768px) {
  .fun-facts__card {
    padding: 50px 30px;
  }
}
/* @media screen and (min-width: 375px) and (max-width: 424px) */
@media screen and (max-width: 424px) {
  .fun-facts {
    padding: 50px 0 50px;
  }
  .fun-facts__card__container {
    padding: 50px 0 0px 0;
  }
  .fun-facts__card {
    margin: 0 0 40px 0;
    padding: 25px 25px;
  }
}
/* SERVICE SECTION */
.service {
  padding: 100px 0 200px;
}
.service .section__heading {
  margin: 10px 0 50px;
  width: 48%;
}
.service .swiper__content {
  background: #f5f6f0;
  display: flex;
}
.service .swiper__text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service .process__icon-container {
  padding: 11px 30px;
  background: var(--primary);
  border-radius: 50%;
  height: 83px;
  width: 75px;
}
.process__service-teamworkicon {
  height: 62px;
  width: 63px;
}
.service .swiper__title {
  font-size: 30px;
}
.service .section__description {
  width: 100%;
}
.service__slider_prev {
  padding: 15px 20px;
  border-radius: 50%;
}
.service__slider_next {
  padding: 15px 20px;
  border-radius: 50%;
}
.service___right__arrow__icon {
  width: 18px;
  height: 17px;
}
.service__slider__button__container {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -200px;
}

@media screen and (min-width: 1500px) {
  .service__slider__button__container {
    padding: 0 75px;
  }
}
/* service responsive */
@media screen and (max-width: 768px) {
  .service {
    padding: 100px 0 50px;
  }
  .service__slider__button__container {
    /* display: none; */
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .service .swiper__content img {
    width: 50%;
    object-fit: cover;
  }
}
@media screen and (max-width: 424px) {
  .service .section__heading {
    width: 100%;
  }
  .service .swiper__content img {
    width: 100%;
  }

  .service .swiper__content {
    flex-direction: column;
  }
  /* .swiper__slider {
    padding: 30px 0 0;
  } */
}

/* FEATURE SECTION */
.feature {
  display: flex;
  gap: 50px;
  background: url(../image/home2/feature-bg.png),
    linear-gradient(0deg, rgba(245, 248, 247, 1), rgba(245, 248, 247, 1));
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  max-width: 1610px;
}
.feature__container {
  /* margin-right: auto;
  max-width: 1500px; */
  display: flex;
  gap: 50px;
}
.feature .about-us-image-sideborder {
  height: 680px;
}
.feature__accordion__container {
  width: 30%;
  /* display: flex;
  flex-direction: column;
  gap: 15px; */
}
.feature .accordion {
  height: 350px;
  position: relative;
}
.feature .section__description {
  width: 90%;
  font-size: 16px;
  margin: 15px 0 35px 0;
}
.feature .accordion .section__description {
  width: 90%;
  font-size: 16px;
  margin: 5px 0 5px 0;
}

.feature .accordion .card-header {
  padding: 5px 10px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #131922;
}
.feature .accordion .btn-block {
  font-weight: 600;
  font-size: 20px;
  color: #131922;
}
.feature .accordion .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 10px 0 0px 32px;
}
.feature .btn-block {
  line-height: 1;
}
.feature .accordion .card-header::before {
  content: "";
  position: absolute;
  /* top: 12px; */
  left: 0px;
  margin: 5px 0 0 0;
  background: #544900;
  border: 6px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.feature .accordion .card-header::after {
  content: "";
  position: absolute;
  left: 0px;
  margin: 5px 0 0 0;
  background: #544900;
  border: 6px solid var(--primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 1;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
/* feature responsive */
/* @media screen and (min-width: 375px) and (max-width: 424px) {
  
} */
/* @media screen and (max-width: 1500px) */
@media screen and (min-width: 800px) and (max-width: 1500px) {
  .feature {
    gap: 0px;
  }
  .feature__container {
    max-width: 1200px;
    display: flex;
    gap: 30px;
  }
  .feature .about-us-right-image-container img {
    width: 90%;
    object-fit: cover;
  }
  .feature .feature__accordion__container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .feature {
    margin-right: 0;
    flex-direction: column;
  }
  .feature__container {
    flex-direction: column;
    gap: 30px;
  }
  .feature .accordion {
    height: auto;
    margin: 0 0 20px;
  }
  .feature .about-us-right-image-container {
    justify-content: center;
    padding: 0 30px;
  }
  .feature .about-us-right-image-container img {
    /* width: 310px; */
    width: 100%;
  }
  .about-us-image-sideborder {
    display: none;
  }
  .feature__accordion__container {
    width: 100%;
    padding: 0 30px;
  }
  .feature .accordion .section__description {
    width: 100%;
  }
}
/* TEAM SECTION */
/* .team {
} */
.team .section__heading {
  width: 60%;
}
.team__card {
  background: #f5f6f0;
  width: 100%;
  text-align: center;
  position: relative;
}
.team__card img {
  width: inherit;
}
.card__text {
  padding: 20px 20px;
  background: #f5f6f0;
  width: 100%;
  position: relative;
}
.section__description {
  width: 100%;
  margin: 0;
  font-size: 16px;
}
.team__share__btn {
  padding: 15px;
  background: var(--white);
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}
.team__share__btn:hover .social_icons {
  opacity: 1;
  visibility: visible;
}
.team .team__share__icon {
  width: 21px;
  height: 28px;
  fill: #6a6c71;
}
.team .social_icons {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 60px;
  background: var(--white);
  border-top: 7px solid var(--primary);
  border-right: 7px solid var(--primary);
  border-left: 7px solid var(--primary);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out;
}
.team .social_icons i {
  font-size: 18px;
  color: var(--gery-1);
  padding: 14px 18.5px;
  font-weight: 400;
  border-bottom: 7px solid var(--primary);
}
/* team responsive */

@media screen and (min-width: 500px) and (max-width: 768px) {
  .team__card {
    margin: 0 0 30px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .team__share__btn {
    left: 320px;
  } */
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  .team__card {
    margin: 0 0 20px;
  }
  .team__card img {
    width: 310px;
  }
  /* .team__share__btn {
    left: 130px;
  } */
}
@media screen and (max-width: 374px) {
  .team__card {
    margin: 0 0 20px;
  }
}
/* PROJECT SECTION */
#project {
  padding: 0;
}
.project {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
.project .project__left {
  padding: 90px 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project .section__description {
  width: 85%;
}
.project .project__right {
  border-left: 1px solid #888888;
}
.project__title__btn {
  margin: 200px 0 0;
}
.project .swiper__content {
  padding: 50px 0 50px 50px;
}
.project__slider__image {
  height: 621px;
  width: 770px;
  display: grid;
  place-items: center;
  /* margin: 0 20px 0 0; */
}
.project__slider__image_1 {
  background: linear-gradient(
      0deg,
      rgba(19, 25, 34, 0.4),
      rgba(19, 25, 34, 0.4)
    ),
    url("../image/home2/project-slider-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project__slider__image_2 {
  background: url("../image/home2/project-slider-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project__slider__next {
  padding: 15px 20px;
  border-radius: 50%;
}
.project .swiper__text {
  margin-top: 20px;
}
.slider__btn {
  background: var(--secondary);
  color: var(--white);
}
/* project responsive */
@media screen and (max-width: 1500px) {
  .project .project__title__btn {
    margin: 150px 0 0 0;
  }
  .project .project__left {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 768px) {
  /* .container__responsive {
    padding: 0 20px;
  } */
  .project .project__left,
  .project__right {
    padding: 30px 30px;
  }
  .project__title__btn {
    margin: 50px 0 0;
  }
  .project .swiper__content {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project__slider__image {
    width: 100%;
    height: 300px;
  }
  .project .project__right {
    border-left: none;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  .project .project__left {
    padding: 50px 30px;
  }
  .project__title__btn {
    margin: 50px 0 0;
  }
  .project .swiper__content {
    padding: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project__slider__image {
    width: 310px;
  }
  .project .project__right {
    border-left: none;
  }
}
/* BLOG SECTION */
.blog .section__heading {
  width: 50%;
}
.blog .team__card img {
  width: inherit;
}
.blog .card__text {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  text-align: left;
}
.blog__badge__container {
  display: flex;
  gap: 10px;
}
.blog .blog__badge {
  padding: 5px 15px;
  border: 1px solid #e3e4dd;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);
}
.blog .anchor__more {
  color: var(--gery-1);
}
/* blog responsive */
@media screen and (max-width: 768px) {
}

/* TESTIMONIAL SECTION */
.testimonials {
  /* width: 1200px; */
  /* padding-left: 100px;
 */
  margin-left: 262px;
}

.testimonials {
  background: url(../image/home2/testimonial-bg.jpg),
    linear-gradient(0deg, rgba(245, 248, 247, 1), rgba(245, 248, 247, 1));
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  max-width: 1610px;
  /* display: flex;
  align-items: flex-end; */
}
/* .testimonial__content {
  width: 1300px;
} */
.testimonials .section__heading {
  width: 90%;
}
.testimonials .about-us-image-sideborder {
  height: 686px;
}
.testimonials__container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  padding: 0 0 0 100px;
}
.testimonials .about-us-right-image-container {
  position: relative;
  gap: 10px;
}
.tesimonial__btn {
  padding: 20px 25px;
  border-radius: 50%;
}
.testimonial__card {
  padding: 50px;
  background: var(--white);
  background-image: url(../image/home2/tesimonial-slider-bg.jpg);
  background-repeat: no-repeat;
  background-position-x: 250px;
  background-position-y: 50px;
  margin-right: -125px;
  z-index: 10;
  min-height: 500px;
}
.tesimonial__quote__icon {
  height: 55px;
  width: 54px;
}
.testimonials .testimonial__arrow__icon {
  height: 20px;
  width: 16px;
  fill: var(--primary);
}
.testimonials .process__icon-container {
  margin: 0 0 20px 0;
}
.testimonials .section__description {
  margin: 20px 0;
}
.testimonials .slider__footer {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .person__info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.testimonials .person__designation {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.testimonials .person__title {
  font-size: 16px;
  color: var(--gery-1);
}
.testimonials .testimonial__title__btn {
  display: flex;
  gap: 10px;
}
.tesimonial__video__image {
  background: url(../image/home2/testimonial-people.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: grid;
  place-items: center;
}
/* testimonial responsive */
/* @media screen and (min-width: 375px) and (max-width: 424px) */

@media screen and (max-width: 768px) {
  .testimonial__content .row {
    display: flex;
    flex-direction: column;
  }
  .testimonials {
    margin-left: 0px;
  }
  .testimonials .about-us-image-sideborder {
    display: none;
    visibility: hidden;
  }
  .testimonials__container {
    padding: 0;
  }
  .testimonial__content {
    padding: 0 30px;
  }
  .testimonial__card {
    margin-right: 0px;
    padding: 20px;
  }
  .testimonials .slider__footer {
    flex-direction: column;
    gap: 20px;
  }
  .tesimonial__video__image {
    margin-top: 20px;
    height: 300px;
  }
  .order__video {
    order: 1;
  }
  .order__slider {
    order: 0;
  }
}

/* CLIENT SECTION */
.client img {
  opacity: 0.5;
}
.client img:hover {
  opacity: 1;
}
.client__plane__icon {
  width: 34px;
  height: 43px;
  fill: var(--primary);
}
/* client responsive */
/* @media (max-width: 768px) {
} */
@media (max-width: 768px) {
  .client .brand__image__container {
    margin-bottom: 30px;
  }
  .client__image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
  }
}
/* MAP SECTION */
.map {
  background: url(../image/home2/map-bg.jpg);
  height: 825px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.map form h3 {
  margin: 0 0 20px 0;
}
.map form {
  background: var(--white);
  width: 500px;
  height: 625px;
  padding: 50px 50px;
}
.map .form-control {
  padding: 2rem 1.5rem;
}
.map select option {
  padding: 1.8rem 1.5rem;
}

.map textarea {
  max-height: 150px;
  resize: none;
}
.map .btn_primary {
  padding: 18px;
}
.map .map__pin__icon {
  height: 66px;
  width: 55px;
  position: absolute;
  top: 50%;
  right: 35%;
}
@media (max-width: 768px) {
  .map form {
    width: auto;
    height: auto;
    padding: 30px 25px;
  }
  .map__pin__icon {
    display: none;
    visibility: hidden;
  }
}

/* FOOTER SECTION */
#footer {
  padding: 100px 0 0px 0;
}
.footer {
  background: #f5f8f7;
  background-image: url(../image/home2/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer__cta {
  padding: 36px 80px;
  background: #131922;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.cta__icon__container {
  display: flex;
}
.footer__phone_icon {
  fill: var(--white);
  height: 64px;
  width: 74px;
  margin: 5px 35px 0 0;
}
.footer__cta__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
  /* width: 70%; */
}
.footer__btn_container {
  padding-top: 20px;
}
.footer__title {
  font-weight: 500;
  font-size: 45px;
  color: var(--secondary);
}
.footer__widget {
  padding: 0px 0px 80px 0;
}
.footer__widget__des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gery-1);
}
.footer__widget__des--margin-top {
  margin-top: 20px;
}
.footer__widget__des--emergency {
  font-weight: 500;
}
.footer__widget__number {
  line-height: 30px;
  color: #ffffff;
}
.footer__widget__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--secondary);
}
.footer__widget__des--black {
  color: var(--secondary);
  margin-top: 20px;
  font-weight: 400;
}
/* .footer__widget__des--grey {
  color: ;
} */
.footer__newsletter {
  background: #f5f8f74d;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: 1px solid #d2d9d7;
  opacity: 0.75;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #888888;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  color: red;
  background: green;
}
.social_icons i {
  font-size: 18px;
  color: var(--white);
  padding-right: 15px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 0px;
}

.footer hr {
  margin: 0;
  background: #d9d9d9;
  opacity: 0.2;
  height: 1px;
}
.footer__copyright {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer .copyright__links ul li {
  display: inline;
  padding-right: 10px;
}
.list-inline {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.footer a,
p {
  color: var(--gery-1);
}
.footer a:hover {
  color: var(--primary);
}
.footer__links {
  display: flex;
  gap: 20px;
}
/* footer responsive */
@media (max-width: 768px) {
  /* #footer {
    padding: 100px 0 135px 0;
  }
  .footer__cta {
    padding: 36px 30px;
  }
  .footer__cta__title {
    font-size: 20px;
    line-height: 30px;
  }
  .footer__phone_icon {
    height: 80px;
    width: 115px;
  } */
  .footer__copyright {
    flex-direction: row;
  }
  .footer .footer__links {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 424px) {
  #footer {
    padding: 100px 0 20px 0;
  }
  .footer .cta__icon__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__cta {
    padding: 36px 20px;
  }
  .footer__phone_icon {
    margin: 0 0 20px 0;
  }
  .footer__btn_container {
    width: 100%;
  }
  .footer .btn_primary {
    width: 100%;
  }
  .footer__widget__content {
    margin-top: 20px;
  }
  .footer__copyright {
    flex-direction: column;
  }
  .footer__widget {
    padding: 0px 0px 40px 0;
  }
  .copyright__text {
    padding-bottom: 30px;
  }
}
/* ================= Service page =============*/
/* SERVICE HERO SECTION */
.hero-main {
  background-color: #cccccc;
  background-repeat: no-repeat;
  min-height: 60vh;
  background: linear-gradient(
      0deg,
      rgba(19, 25, 34, 0.4),
      rgba(19, 25, 34, 0.4)
    ),
    url("../image/service/service-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 123px 0 0 0;
}
#hero-main .hero__content {
  min-height: 60vh;
}
#hero-main .hero__badge {
  background: var(--primary);
  opacity: 1;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary);
  padding: 4px 10px;
  text-transform: uppercase;
}

#hero-main .hero__title {
  width: 100%;
}

/* SERVICE WORKING PROCESS */
/* #working-process {
  padding-top: 0;
} */
.working-process .section__sub_heading {
  color: #131922;
}
.process__container {
  margin: 60px 0;
}

.process__icon-container {
  padding: 35px 40px;
  background: var(--primary);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.process__icon {
  width: 66px;
  height: 74px;
  fill: var(--white);
}
.process__text {
  margin: 30px 0 20px 0;
}
.process__title {
  font-size: 30px;
  color: #131922;
}
.process__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
}
.process__main-icon-content {
  width: 169px;
  height: 169px;
  border-radius: 50%;
  background: #f5f6f0;
}
/* service woking  responsive */
@media (max-width: 767px) {
  .process__main-icon-content {
    order: 1;
  }
  .process__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .process__text {
    text-align: center;
    order: 2;
  }
}
/* SERVICE SERVICE  SECTION */
#service .service {
  position: relative;
  background: url("../image/home1/service_bg_.jpg");
  padding: 50px 0 100px;
}

#service .service__heading__section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#service .service__heading__container {
  width: 70%;
}
#service .service .section__heading {
  color: var(--white);
  width: 100%;
}

#service .service__card__container {
  padding: 50px 0 100px 0;
}
#service .service__card {
  padding: 40px;
  background: #131922;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
#service .service__icon {
  height: 68px;
  width: 68px;
  fill: var(--primary);
}
#service .service__content {
  padding: 0px 0px 0px 30px;
  width: 85%;
}
/* .service__arrow__icon{
  fill: ;
} */
#service .service .feature__arrow__icon {
  fill: #a2a6ad;
  width: 18px;
  height: 17px;
}
#service .service__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  /* or 133% */

  text-transform: capitalize;

  color: var(--white);
}
#service .service .feature__link {
  color: #a2a6ad;
}

#service .service .feature__arrow__icon:hover {
  fill: #a2a6ad;
}
/* service responsive */
@media (max-width: 768px) {
  #service.service__card {
    padding: 50px 30px;
  }
  #service.appointment__image {
    margin-top: -70px;
  }
}
@media (max-width: 424px) {
  #service.service {
    padding: 50px 0 250px;
  }
  #service .service__card__container {
    padding: 50px 0 0px 0;
  }
  #service.service__card {
    margin: 0 0 40px 0;
    padding: 25px 25px;
  }
}
/* SERVICE FEATURE SECTION */
#service .feature {
  background: none;
}
/* service feature responsive */
@media screen and (min-width: 800px) and (max-width: 1500px) {
  #service .feature .about-us-right-image-container img {
    width: 95%;
    object-fit: cover;
  }
}

/* SERVICE FUN-FACTS SECTION */
#service .fun-facts {
  background: #f5f6f0;
}
#service .fun-facts__title {
  color: var(--secondary);
}
#service .fun-facts__icon {
  fill: var(--secondary);
}
#service .fun-facts__card {
  background: #f5f6f0;
}
#service .feature__link {
  color: var(--gery-1);
}
#service .number__line {
  opacity: 0.8;
  width: 2px;
  background: #d4dad8;
}
/* Service Fun facts responsive */
@media (max-width: 992px) {
  #service .fun-facts__card {
    padding: 50px 30px;
    margin-bottom: 20px;
  }
}
/* @media screen and (min-width: 375px) and (max-width: 424px) */
@media screen and (max-width: 424px) {
  #service .fun-facts {
    padding: 50px 0 50px;
  }
  #service .fun-facts__card__container {
    padding: 50px 0 0px 0;
  }
  #service .fun-facts__card {
    margin: 0 0 40px 0;
    padding: 25px 25px;
  }
}
/* SERVICE PRICE SECTION */
#service .price__card {
  border: 20px solid #f5f6f0;
  width: 97%;
  transition: all 0.5s ease-in-out;
}
#service .price__card:hover {
  border-color: var(--primary);
}
#service .price__card-content {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(19, 25, 34, 0.04);
  padding: 45px 30px;
  gap: 20;
}
#service .price__card__header {
  display: flex;
}
#service .price .process__icon {
  width: 44px;
  height: 42px;
  fill: var(--secondary);
}
#service .price .process__icon-container {
  padding: 19px 18px;
  background: var(--primary);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0 20px 0 0;
}
#service .price__plan {
  font-weight: 400;
  color: #131922;
}
#service .price__line {
  background: #e1e1e1;
  height: 1px;
  margin: 20px 0 25px 0;
}
#service .price ul li span {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
}
#service .price ul li {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
#service .price__check__icon {
  fill: #5f6165;
  height: 15px;
  width: 15px;
  margin: 0 10px 0 0;
}
#service .price .nav__arrow__icon {
  fill: var(--secondary);
}

#service .buy__button {
  padding: 17px 0;
  background: #f5f6f0;
  border: 1px solid #e3e4dd;
  border-radius: 10px;
  text-transform: uppercase;
  color: #131922;
}
#service .price__card:hover .buy__button {
  background: var(--secondary);
  color: var(--white);
}
#service .price__card:hover .nav__arrow__icon {
  fill: var(--white);
}

/* service price responsive */
@media (max-width: 768px) {
  #service .price__card {
    margin-bottom: 30px;
  }
}
@media (max-width: 424px) {
  #service .price__card {
    width: 100%;
    margin: 0 0 20px 0;
  }
  #service .price__card-content {
    padding: 30px 20px;
  }
}
/* SERVICE FOOTER SECTION */
/* #footer {
} */
.footer-main {
  background: var(--secondary) !important;
  padding: 100px 0 20px 0;
}
#footer-main .footer__cta {
  padding: 36px 80px;
  background: #131922;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
#footer-main .cta__icon__container {
  display: flex;
}
#footer-main .footer__phone_icon {
  fill: var(--white);
  height: 64px;
  width: 74px;
  margin: 5px 35px 0 0;
}
#footer-main .footer__cta__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
  /* width: 70%; */
}
#footer-main .footer__btn_container {
  padding-top: 20px;
}
#footer-main .footer__widget {
  padding: 80px 0px;
}
#footer-main .footer__widget__des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #888888;
}
#footer-main .footer__widget__des--margin-top {
  margin-top: 20px;
}
#footer-main .footer__widget__des--emergency {
  font-weight: 500;
}
#footer-main .footer__widget__number {
  line-height: 30px;
  color: #ffffff;
}
#footer-main .footer__widget__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
#footer-main .footer__widget__des--white {
  color: #ffffff;
  margin-top: 20px;
}
/* .footer__widget__des--grey {
  color: ;
} */
#footer-main .footer__newsletter {
  background: var(--secondary);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
  opacity: 0.45;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #888888;
  padding: 0;
}
#footer-main input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  color: red;
  background: green;
}
#footer-main .footer-main .social_icons i {
  font-size: 18px;
  color: var(--white);
  padding-right: 15px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
}

.footer-main hr {
  margin: 0;
  background: #d9d9d9;
  opacity: 0.2;
  height: 1px;
}
#footer-main .footer__copyright {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer-main ul li a {
  color: var(--gery-1);
}
.footer-main .copyright__links ul li {
  padding-right: 10px;
  display: inline;
}
#footer-main .list-inline {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#footer-main .footer__bold {
  color: var(--primary);
}
/* service footer responsive */
@media (max-width: 768px) {
  .footer-main {
    padding: 100px 0 0px 0;
  }
  #footer-main .footer__cta {
    padding: 36px 30px;
  }
  #footer-main .footer__cta__title {
    font-size: 20px;
    line-height: 30px;
  }
  #footer-main .footer__phone_icon {
    height: 80px;
    width: 115px;
  }
  #footer-main .footer__widget__content {
    margin-top: 20px;
  }
}
@media (max-width: 424px) {
  .footer-main {
    padding: 100px 0 20px 0;
  }
  .footer-main .cta__icon__container {
    flex-direction: column;
    align-items: center;
  }
  #footer-main .footer__cta {
    padding: 36px 20px;
  }
  #footer-main .footer__phone_icon {
    margin: 0 0 20px 0;
  }
  #footer-main .footer__btn_container {
    width: 100%;
  }
  .footer-main .btn_primary {
    width: 100%;
  }

  #footer-main .footer__copyright {
    flex-direction: column;
  }
}
/* ============= About Us page start ========= */

/* ABOUT US CLIENT SECTION */
#about-us-page .section__description {
  width: 50%;
}
@media (max-width: 768px) {
  #about-us-page .client .client__image__container img {
    width: auto !important;
  }
}
/* ABOUT US ABOUT US SECTION */
#about-us-page .about-section {
  background: #fff;
}

#about-us-page .about-section .container {
  display: flex;
  gap: 70px;
}
#about-us-page .about-section .feature__accordion__container .feature__divider {
  margin: 20px 0 40px 0;
}
#about-us-page .about-section .feature__accordion__container {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#about-us-page .about-section .section__description {
  width: 100%;
}
#about-us-page .about-section .btn_primary {
  align-self: flex-start;
}

#about-us-page .about__client {
  background: #ff4c1a;
  padding: 30px 40px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 310px;
  align-self: flex-end;
  margin-top: -170px;
  margin-right: -10px;
}
#about-us-page .about-us-right-image-container {
  display: flex;
  flex-direction: column;
}
#about-us-page .about__number {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
#about-us-page .about__business__icon {
  width: 59px;
  height: 67px;
}
.about__us__imagebar {
  background: #ffffff;
  width: 25px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#about-us .focus-quality__image_container {
  position: relative;
  margin-right: 30px;
}
/* About us  about us responsive */
@media (max-width: 992px) {
  #about-us .focus-quality__image_container {
    margin-right: 0px;
  }
  #about-us-page .about-section .container img {
    width: 100%;
  }
  #about-us-page .about-section .container {
    flex-direction: column;
  }
  #about-us-page .about-section .feature__accordion__container {
    width: 100%;
  }
  .feature__accordion__container {
    padding: 0 0;
  }
}
@media (max-width: 424px) {
  #about-us-page .about-section .container img {
    width: 310px;
  }
}
/* ABOUT US SERVICE SECTION */

#about-us-page .service {
  display: flex;
  gap: 50px;
  background: url(../image/about-us/service-bg.jpg),
    linear-gradient(0deg, rgba(245, 248, 247, 1), rgba(245, 248, 247, 1));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}
#about-us-page .service .service__card {
  background: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 0;
}
#about-us-page .service .section__description {
  width: 100%;
}
#about-us-page .service .service__card hr {
  background: #e1e1e1;
  height: 1px;
  margin: 10px 0;
}

#about-us-page .service .anchor__more {
  color: #5f6165;
}
#about-us-page .anchor__link:hover .anchor__more {
  color: var(--primary);
}
/* ABOUT US TEAM SECTION */
#about-us-page .team .section__heading {
  width: 100%;
}
#about-us-page .team .section__description {
  width: 100%;
}
#about-us-page .team .project__title__btn {
  margin: 0;
}
.project__title {
  padding: 0 0 0 0;
}
.project__arrow__icon {
  height: 17px;
  width: 18px;
  fill: #5f6165;
}
.project .btn_secondary {
  border: 1px solid #888888;
  border-radius: 3px;
  padding: 15px 28px;
}
.project .btn_primary {
  border: 1px solid var(--primary);
  border-radius: 3px;
  padding: 15px 28px;
}

.project .btn_primary .project__arrow__icon {
  fill: var(--white);
}
.project__title__btn {
  padding-top: 30px;
}
.project__title__divider {
  height: 1px;
  background: #888888;
  margin: 30px 0 50px 260px;
}
#about-us-page .team .swiper__slider {
  padding-left: 260px;
}

/* about us team responsive */
@media (max-width: 768px) {
  #about-us-page .team .swiper__slider {
    padding: 0 20px;
  }
  .project__title__divider {
    height: 1px;
    background: #888888;
    margin: 30px 0 50px 30px;
  }
  .swiper__slider {
    padding-left: 30px;
  }
}

@media (max-width: 424px) {
  .project__title__divider {
    margin: 30px 0 50px 20px;
  }
  .swiper__content {
    width: 100%;
  }
}
/*   ABOUT US TESTIMONIAL SECTION*/
#about-us-page #testimonial {
  padding: 0;
}
#about-us-page .testimonial {
  background-image: url(../image/home1/testimonial-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 739px; */
  width: 100%;
}
#about-us-page .testimonial_slider_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-shadow: 10px 5px 8px rgba(95, 97, 101, 0.04);
}
#about-us-page .testimonial-slider {
  width: 600px;
  overflow: hidden;
  margin: 0 110px 0 0;
}
#about-us-page .testimonial__slider__card {
  background: var(--white);
  padding: 80px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../image/home1/testimonial-map.png);
  background-repeat: no-repeat;
}
#about-us-page .testimonail__des {
  font-size: 22px;
  line-height: 32px;
  color: #5f6165;
  margin: 40px 0 40px 0;
  width: 90%;
}
#about-us-page .testimonial__btn {
  display: flex;
  align-items: center;
  gap: 40px;
}
#about-us-page .testimonial__slider_prev {
  border: 1px solid #888888;
  border-radius: 3px;
}
#about-us-page .testimonial__name {
  text-align: center;
  text-transform: capitalize;
  color: #131922;
}
#about-us-page .testimonial__person_info {
  flex-direction: column;
}
#about-us-page .testimonial .project__arrow__icon--active {
  fill: var(--white);
}
#about-us-page .testimonial__arrow__icon {
  fill: var(--yellow);
  height: 20px;
  width: 16px;
  margin: 0 0 5px 0;
}
#about-us-page .testimonial__image__container {
  position: relative;
}
#about-us-page .testimonial .quote__icon-container {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 129px;
  right: 5px;
}
#about-us-page .testimonial .quote__icon {
  width: 21px;
  height: 19px;
  fill: var(--white);
}
#about-us-page .testimonial .project__arrow__icon {
  height: 16px;
  width: 17px;
}

/* about us testimonial responsive */
@media (max-width: 768px) {
  /* .testimonial_slider_container {
    width: 85%;
  } */
  #about-us-page .testimonial-slider {
    width: 478px;
  }
}
@media (max-width: 424px) {
  #about-us-page .testimonial {
    background-image: none;
  }
  #about-us-page .testimonial-slider {
    margin: 0;
  }

  #about-us-page .testimonial .container {
    padding: 0px 0px;
    /* max-width: 1320px; */
  }
  #about-us-page .testimonial__slider__card {
    padding: 50px 20px;
  }
  #about-us-page .testimonial__btn {
    gap: 20px;
  }
  #about-us-page .testimonail__des {
    margin: 30px 0 30px 0;
    width: 100%;
  }
}

/* ABOUT US FOCUS QUALITY  SECTION */
#about-us-page #focus-quality {
  padding: 0 0;
}
#about-us-page .focus-quality__image_container img {
  object-fit: cover;
  width: 100%;
}

#about-us-page .about-us__focus-quality img {
  width: 100%;
  padding-left: 0px;
}
#about-us-page .focus__quality_progress {
  margin-top: 40px;
}
#about-us-page .focus__quality_progress_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
#about-us-page .focus__quality__progress_bar {
  height: 10px;
  background: var(--primary);
  margin-bottom: 2px;
  border-bottom: 2px solid var(--primary);
}
#about-us-page .focus__quality__progress_line {
  background: #e1e1e1;
  height: 2px;
}
#about-us-page .focus__quality__progress_bar--consulting {
  width: 60%;
}
#about-us-page .focus__quality__progress_bar--finance {
  width: 80%;
}
#about-us-page .focus__quality__progress_bar--start-up {
  width: 65%;
}
#about-us-page .order-about {
  order: 0;
}
#about-us-page .order-quality {
  order: 1;
}
/*about-us-page bootstrap progress bar */
#about-us-page .focus-quality__content .progress {
  background: none;
  border-radius: 0;
  height: 10px;
  margin-bottom: 2px;
}
#about-us-page .focus-quality__content .progress-bar {
  background-color: var(--primary);
  width: 0;
  transition: all 0.5s ease-in;
}
#about-us-page .focus-quality__image_container {
  margin-right: 30px;
}
/* About us focus quality responsive */
@media (max-width: 768px) {
  #about-us-page .welcome__content {
    width: 100%;
    padding: 50px 0;
  }
  #about-us-page .about-us__welcome ul li {
    padding: 10px 0;
  }
  #about-us-page .focus-quality__content {
    padding: 30px 0px;
  }
  #about-us-page .focus-quality__image_container {
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
  }

  #about-us-page .order-about {
    order: 10;
  }
  #about-us-page .about-us__focus-quality img {
    padding-left: 0px;
  }
}
@media (max-width: 424px) {
  #about-us-page .welcome__image {
    max-height: 350px;
  }
  #about-us-page .welcome__content {
    width: 100%;
    padding: 50px 0px;
  }
  #about-us-page .about-us__welcome ul li {
    padding: 15px 0;
  }
  #about-us-page .about-us__welcome .btn_primary {
    width: 100%;
  }
  #about-us-page .about-us__focus-quality {
    padding: 0 0;
  }
  #about-us-page .focus-quality__content {
    padding: 20px 0px;
  }
  #about-us-page .focus-quality__image_container {
    padding: 20px 0px;
  }
  #about-us-page .focus-quality__image {
    height: 310px;
    background-size: contain;
    margin-top: 15px;
  }
}
/*==================== Service Details page ========= */

/* SERVICE DETAILS CLINET SECTION */
#service-details .client .container {
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
}
/* SERVICE DETAILS FOCUS QUALITY SECTION */
#service-details .focus-quality .focus-quality__content {
  margin-right: 55px;
}

#service-details #focus-quality {
  padding: 100px 0 0;
}
#service-details .focus-quality__image_container img {
  object-fit: cover;
  width: 100%;
}

#service-details .about-us__focus-quality img {
  width: 100%;
  padding-left: 0px;
}
#service-details .focus__quality_progress {
  margin-top: 40px;
}
#service-details .focus__quality_progress_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
#service-details .focus__quality__progress_bar {
  height: 10px;
  background: var(--primary);
  margin-bottom: 2px;
  border-bottom: 2px solid var(--primary);
}
#service-details .focus__quality__progress_line {
  background: #e1e1e1;
  height: 2px;
}

#service-details .focus-quality .quality-image {
  order: 1;
}

#service-details .focus-quality .quality-progress {
  order: 0;
}

/*about-us-page bootstrap progress bar */
#service-details .focus-quality__content .progress {
  background: none;
  border-radius: 0;
  height: 10px;
  margin-bottom: 2px;
}

#service-details .focus-quality__content .progress-bar {
  background-color: var(--primary);
  width: 0;
  transition: all 0.5s ease-in;
}

/* service details focus quality responsive */
@media (max-width: 992px) {
  #service-details #focus-quality {
    padding: 50px 0 0;
  }
  #service-details .focus-quality .focus-quality__content {
    margin-right: 0px;
  }
  #service-details .focus-quality__content {
    padding: 30px 0px;
  }
  #service-details .focus-quality__image_container {
    padding-right: 0px;
    padding-left: 0px;
  }

  #service-details .order-about {
    order: 10;
  }
  #service-details .about-us__focus-quality img {
    padding-left: 0px;
  }
  #service-details .focus-quality .quality-image {
    order: 0;
  }

  #service-details .focus-quality .quality-progress {
    order: 1;
  }
}
@media (max-width: 424px) {
  #service-details .about-us__focus-quality {
    padding: 0 0;
  }
  #service-details .focus-quality__content {
    padding: 20px 0px;
  }
  #service-details .focus-quality__image_container {
    padding: 20px 0px;
  }
  #service-details .focus-quality__image {
    height: 310px;
    background-size: contain;
    margin-top: 15px;
  }
}

/*SERVICE DETAILS  APPOINMENT SECTION */
#service-details .appointment {
  background: #fff;
  padding: 0px 0px;
}
#service-details .appointment .container {
  margin-top: 0;
  position: relative;
  z-index: 10;
  background: #f5f6f0;
}

#service-details .appointment__image {
  height: 100%;
  width: 100%;
}
#service-details .appointment__content {
  padding: 70px 80px;
}
#service-details .appointment .section__sub_heading_line {
  margin: 10px;
}
#service-details .appointment .welcome__desc {
  margin-top: 30px;
}
#service-details .appointment__form {
  margin-top: 30px;
}
#service-details .appointment .btn_primary {
  border-radius: 10px;
}
#service-details .appointment .form-control {
  padding: 18px 25px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #e3e4dd;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #5f6165;
}
#service-details .appointment select option {
  padding: 18px 25px;
}
#service-details .appointment__top__arrow {
  position: absolute;
  fill: #e6e8e0;
  width: 20px;
  height: 109px;
  right: 100px;
  top: 50px;
}
#service-details .appointment__bottom_right__arrow {
  position: absolute;
  fill: #e6e8e0;
  width: 109px;
  height: 20px;
  right: 150px;
  bottom: 70px;
}
#service-details .appointment textarea {
  max-height: 150px;
  resize: none;
}
/* service details appointment responsive */
@media (max-width: 992px) {
  #service-details .appointment__content {
    padding: 50px 0px;
  }
}
@media (max-width: 424px) {
  #service-details .appointment__content {
    padding: 50px 0px;
  }
  #service-details .appointment__top__arrow {
    right: 30px;
  }
  #service-details .appointment__bottom_right__arrow {
    right: 30px;
  }
  #service-details .appointment__image {
    margin-top: -50px;
  }
}
/* SERVICE DETAILS SERVICE SECTION */
#service-details .service__realated__card__container {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  #service-details .service .swiper__content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #service-details .service .swiper__content img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 424px) {
  #service-details .service__realated__card__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}

/* SERVICE DETAILS FEATURE SECTION */

#service-details .feature {
  background: #fff;
  position: relative;
  margin-right: unset;
  max-width: unset;
}

#service-details .feature__content {
  padding: 50px 0px;
  width: 85%;
}
#service-details .feature .section__heading {
  width: 45%;
}
#service-details .feature .feature__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#service-details .feature__title {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #131922;
  margin: 35px 0px 0px 0px;
}
#service-details .feature__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
  margin: 30px 0px 30px 0px;
}
#service-details .feature__link {
  margin: 30px 0px 0px 0px;
  text-decoration: none !important;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  text-transform: uppercase;

  color: #5f6165;
}
#service-details .feature__arrow__icon {
  width: 17px;
  height: 14px;
  margin: 0px 5px 0 0;
}
#service-details .feature__link:hover .feature__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
#service-details .feature__link:hover {
  color: var(--primary);
}
#service-details .feature__link--active {
  color: var(--primary);
  fill: var(--primary);
}

#service-details .feature__image__container {
  position: relative;
}
#service-details .feature__circle__icon {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 0px;
  right: 130px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  fill: var(--primary);
}
#service-details .feature__content:hover .feature__circle__icon {
  opacity: 1;
}

#service-details .feature__content:hover .feature__arrow__icon {
  fill: var(--primary);
  color: var(--primary);
}
#service-details .feature__content:hover .feature__more {
  color: var(--primary);
}

/* service details feature responsive */
@media (max-width: 992px) {
  #service-details .feature__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #service-details .feature .feature__image {
    width: 179px;
    height: 177px;
    border-radius: 50%;
  }

  #service-details .feature__title {
    font-size: 24px;
    line-height: 35px;
    margin: 35px 0px 0px 0px;
  }
  #service-details .feature__circle__icon {
    height: 177px;
    width: 179px;
    right: 18px;
  }
}
@media (max-width: 424px) {
  #service-details .feature__content {
    text-align: center;
    width: 100%;
    padding: 25px 0;
  }

  #service-details .feature__desc {
    margin: 30px 0px 20px 0px;
  }
}
/* SERVICE DETAILS PERSONAL EXPERITISE */
#service-details .feature__title {
  margin: 0;
  width: 90%;
}
.personal__content {
  background-repeat: no-repeat;
  height: 721px;
  background: url("../image/service-details/personal-expertice.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.personal__content .icon__btn {
  fill: #5f6165;
  margin-top: 5px;
}
.personal__note {
  padding: 50px;
  border-left: 10px solid var(--primary);
  background: #ffffff;
  box-shadow: 6px 0px 8px 0px rgba(106, 108, 113, 0.1);
  position: absolute;
  left: 60%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin-top: -57px;
}
.personal-expertise .expertise__list {
  display: flex;
  gap: 15px;
}
@media (max-width: 992px) {
  .personal-expertise .personal__note {
    left: 50%;
    width: 100%;
  }
}
@media (max-width: 424px) {
}
