/* Global   */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6165;
}
html,
body {
  min-height: 100%;
  /* overflow: hidden; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
}

label {
  font-family: "Roboto", sans-serif;
  font-family: "Sen", sans-serif;
  font-size: 14px;
}
.section__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ff4c1a;
}
.section__sub_heading {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  text-transform: capitalize;
  color: #131922;
}
.container {
  padding: 0px 0px;
}
/* Colors */
.orange {
  color: #ff4c1a;
}
.Light {
  color: #ffffff;
}
.Yellow {
  color: #ffd050;
}
.Purple {
  color: #592ea9;
}

.Dark_Grey {
  color: #4c4c4c;
}
.Medium_grey {
  color: #6d6e76;
}
.Light_grey {
  color: #f4f4f4;
}
.Lavender {
  color: #f4f0f8;
}
.Light_yellow {
  color: #fbf6ea;
}

/* Buttons */
.btn_primary {
  background: #ff4c1a;
  border-radius: 10px;
  /* width: 228px;
  height: 60px; */
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 30px 17px 30px;
}

/* ======Home page 01========== */
/* Header */
.header {
  /* background-color: #333; */
  padding: 0px;
  height: 90px;
}
.nav__container {
  background: #ffffff;
  padding: 22px 40px;
}

/* new navigation links */
/*  New navigation menu */
.navbar {
  padding: 10px 0px !important;
  display: flex;
  color: white;
  justify-content: center;
}
.navbar__Link {
  padding-right: 8px;
}
.navbar__Link a {
  text-decoration: none;
}
.navbar__Items--fontStyles {
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #131922;
}
.navbar__Items--active {
  color: #ff4c1a;
}
.navbar__Items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__Items--right {
  margin-left: auto;
}
.navbar__Link-toggle {
  display: none;
}
/* header icon */
.fa-search:before {
  content: "\f002";
  font-size: 24px;
  padding: 30px 25px 0px 0px;
}
/* navbar / header responsive */
@media only screen and (max-width: 768px) {
  .navbar__Items,
  .navbar {
    flex-direction: column;
  }
  .navbar__Items {
    display: none;
  }
  .navbar__Items--right {
    margin-left: 0;
  }
  .navbar__ToggleShow {
    display: flex;
  }
  .navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    padding-top: 50px;
  }
  .btn_secondary {
    padding: 6px 28px;
  }
}
